@use 'sass:selector';
@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables';
@use '@vonage/vvd-typography/scss/typography' as typography;
@use '@vonage/vvd-foundation/scss/mixins/connotation/config' with (
	$connotations-set: primary cta
);
@use '@vonage/vvd-foundation/scss/mixins/connotation' as connotation;

:host {
	.mdc-fab {

		// prevent mdc's flash of green before tokens are applied
		--mdc-theme-secondary: unset;
		--mdc-theme-on-secondary: unset;

		--mdc-fab-extended-label-padding: 20px;
		--mdc-fab-extended-icon-padding: 0;
		--mdc-fab-focus-outline-color: initial;
		--mdc-fab-focus-outline-width: 0;

		--mdc-theme-secondary: var(
			#{connotation.$vvd-color-connotation},
			var(#{scheme-variables.$vvd-color-surface-4dp})
		);
		--mdc-theme-on-secondary: var(
			#{connotation.$vvd-color-on-connotation},
			var(#{scheme-variables.$vvd-color-on-canvas})
		);
		--mdc-ripple-color: currentcolor;
		@include connotation.connotation;
		@include typography.typography-cat-shorthand('body-2-bold');
		box-shadow: 0 none;
		filter: var(#{scheme-variables.$vvd-shadow-surface-4dp});

		&--extended .mdc-fab__icon {
			margin-inline-end: 12px;
		}

		&.mdc-ripple-upgraded--background-focused,
		&:not(.mdc-ripple-upgraded):focus {
			box-shadow: 0 none;
			filter: var(#{scheme-variables.$vvd-shadow-surface-8dp});
		}

		&:active,
		&:focus:active {
			box-shadow: 0 none;
			filter: var(#{scheme-variables.$vvd-shadow-surface-12dp});
		}
	}

	.mdc-fab__icon {
		--connotation: initial;
	}
}
