@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables';
@use '@vonage/vvd-typography/scss/typography' as typography;
@use 'sass:selector';

.mdc-fab {
	@include typography.typography-mdc-coupling('button', 'body-2-bold');
	font-stretch: var(--mdc-typography-button-font-stretch); // ! this was supposed to be set by MDC
	letter-spacing: initial;
	text-transform: initial;
}

:host([connotation="primary"]) .mdc-fab {
	--mdc-theme-secondary: var(#{scheme-variables.$vvd-color-primary});
	--mdc-theme-on-secondary: var(#{scheme-variables.$vvd-color-on-primary});
}

:host([connotation="cta"]) .mdc-fab {
	--mdc-theme-secondary: var(#{scheme-variables.$vvd-color-cta});
	--mdc-theme-on-secondary: var(#{scheme-variables.$vvd-color-on-cta});
}
