@use '@vonage/vvd-typography/scss/typography';
@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables';

:host {
	@include typography.typography-cat-shorthand('body-2-bold');
	position: relative;

	display: inline-flex;
	align-items: center;
	color: var(#{scheme-variables.$vvd-color-on-base});
}

.sorters {
	position: absolute;
	left: -16px;
	display: inline-flex;
	flex-direction: column;
	color: var(#{scheme-variables.$vvd-color-contrast-neutral});

	.sorter {
		--icon-size: 12px;

		&.asc {
			margin-bottom: -2px;
		}
		&.desc {
			margin-top: -2px;
		}
	}
}

:host([direction='asc']) {
	.asc {
		color: var(#{scheme-variables.$vvd-color-on-base});
	}
	.desc {
		color: transparent;
	}
}

:host([direction='desc']) {
	.asc {
		color: transparent;
	}
	.desc {
		color: var(#{scheme-variables.$vvd-color-on-base});
	}
}
