@use '@vonage/vvd-typography/scss/typography';

:host {
	display: block;
	min-width: 200px;
	min-height: 150px;
}

.vvd-grid-footer {
	@include typography.typography-cat-shorthand('body-2-bold');
}

.vvd-row-selector {
	vertical-align: middle;
}
