@use '@vonage/vvd-typography/scss/typography';

:host {
	--vvd-data-grid-min-width: 200px;
	--vvd-data-grid-width: 100%;
	--vvd-data-grid-min-height: 320px;
	--vvd-data-grid-height: 100%;
}

.vvd-grid-engine-root {
	display: flex;
	width: var(--vvd-data-grid-width);
	min-width: var(--vvd-data-grid-min-width);
	height: var(--vvd-data-grid-height);
	min-height: var(--vvd-data-grid-min-height);
}

.vvd-grid-footer {
	@include typography.typography-cat-shorthand('body-2-bold');
}

.vvd-all-selector,
.vvd-row-selector {
	vertical-align: middle;
}
