@use '@vonage/vvd-typography/scss/typography' as typography;

:host {
	@include typography.typography-mdc-coupling('body2', 'body-2');

	display: block;
	font-stretch: var(
		--mdc-typography-body2-font-stretch
	); // ! this was supposed to be set by MDC
}

.mdc-form-field {
	padding: 8px 0;
}

.mdc-form-field > label {
	padding-left: 10px;
}
