@use '@vonage/vvd-design-tokens/build/typography' as typography;

:host {
	@include typography.font-combo('Body2Bold');
  display: block;
}

.mdc-form-field {
  padding: 8px 0;
}

.mdc-form-field > label {
  padding-left: 10px;
}