@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables';

$indent: 24px;

// :host([open]) {
// 	.expansion-panel {
// 		animation: fade-in-left 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
// 		@media (prefers-reduced-motion) {
// 			.animation {
// 				animation-name: dissolve;
// 			}
// 		}
// 	}
// }

:host(:not([open])) {
	.expansion-panel {
		display: none;
	}
}

.expansion-panel {
	margin-inline-start: $indent;
	position: relative;
	&::before {
		content: '';
		block-size: 100%;
		border-inline-start: 1px solid
			var(#{scheme-variables.$vvd-color-contrast-faint});
		position: absolute;
		left: $indent / -2;
	}
}

/**
 * ----------------------------------------
 * animation fade-in-left
 * ----------------------------------------
 */
// @keyframes fade-in-left {
// 	0% {
// 		transform: translateX(-10px);
// 		opacity: 0;
// 	}
// 	100% {
// 		transform: translateX(0);
// 		opacity: 1;
// 	}
// }
