@use '@vonage/vvd-typography/scss/typography' as typography;
@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables';
@use '@vonage/vvd-foundation/scss/mixins/color-connotation' as color-connotation with (
	$connotations-set: primary cta
);

$vvd-list-shape: --vvd-list-shape;
$scopes: list-item check-list-item radio-list-item;

@use '@vonage/vvd-foundation/scss/mixins/shape-mixins' with (
	$variable-name: #{$vvd-list-shape}
);

@include color-connotation.connotations-main;
@include color-connotation.connotations-main-default(primary);

:host {
	--mdc-menu-item-height: 40px;
	--mdc-list-item-meta-size: 16px;
	--mdc-ripple-color: var(#{scheme-variables.$vvd-color-on-base});
	--mdc-theme-text-hint-on-background: var(
		#{scheme-variables.$vvd-color-neutral-70}
	);
	--mdc-theme-text-secondary-on-background: var(
		#{scheme-variables.$vvd-color-neutral-70}
	);

	.mdc-deprecated-list {
		@include typography.typography-cat-shorthand('body-2');
	}
}

@each $scope in $scopes {
	::slotted(vwc-#{$scope}) {
		border-radius: var(#{$vvd-list-shape});
	}
}

::slotted(#{vwc-list-item}[activated]) {
	--mdc-theme-text-icon-on-background: var(#{color-connotation.$vvd-color-on-connotation});
	--mdc-theme-text-hint-on-background: var(#{color-connotation.$vvd-color-on-connotation});
	--mdc-ripple-color: var(#{color-connotation.$vvd-color-on-connotation});

	--vvd-list-item-activated-color: var(#{color-connotation.$vvd-color-on-connotation});
	--vvd-list-item-activated-ripple-background: var(#{color-connotation.$vvd-color-connotation});
	--vvd-list-item-activated-ripple-color: var(#{color-connotation.$vvd-color-connotation});
}

@include shape-mixins.shape(
	$shapes: (
		rounded: 6px,
	),
	$default: ''
);
