@use '@vonage/vvd-typography/scss/typography' as typography;

:host{
	@include typography.typography-cat-shorthand('body-2');
	margin: 0;
}

:host(:not([left])) > .mdc-list-item__meta {
	--mdc-list-item-meta-size: 22px;
	width: var(--mdc-list-item-meta-size);
	height: var(--mdc-list-item-meta-size);
}