@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables';

$indent: 44px;

.body {
	position: relative;
	margin-inline-start: $indent;
	&::before {
		position: absolute;
		left: $indent / -2;
		block-size: 100%;
		border-inline-start: 1px solid
			var(#{scheme-variables.$vvd-color-neutral-30});
		content: '';
	}
	:host(:not([open])) & {
		display: none;
	}

	@media (prefers-reduced-motion: no-preference) {
		:host([open]) & {
			animation: fade-in-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
		}
	}
}

/**
 * ----------------------------------------
 * animation fade-in-left
 * ----------------------------------------
 */
@keyframes fade-in-left {
	0% {
		opacity: 0;
		transform: translateX(-10px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
