$button-icon-size-variable-name: --vvd-button-icon-size;
$vvd-button-shape: --vvd-button-shape;
// TODO connotation variable currently needed for button-toggle-group
// ! should deprecate once button-toggle-group couples its own child buttons
$vvd-button-color: --vvd-button-color;
$vvd-button-on-color: --vvd-button-on-color;
