@forward './vwc-button-coupling';
@use '@vonage/vvd-foundation/scss/variable-names/color-semantic-variable-names' as color-semantic;
@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables';
@use '@vonage/vvd-foundation/scss/mixins/color-connotation-mixins' with (
	$connotations: primary cta success alert info announcement
);
@use '@vonage/vvd-foundation/scss/mixins/shape-mixins';

@mixin size($type, $unit) {
	:host([#{$type}]) & {
		height: $unit * 8px;

		.vvd-icon {
			--icon-size: #{$unit * 4px};
		}
		@content;
	}
}

:host {
	--mdc-button-disabled-ink-color: var(#{color-semantic.$formfield-disabled-ink});
	--mdc-button-disabled-fill-color: var(#{scheme-variables.$vvd-color-30-neutral});
	--mdc-button-disabled-outline-color: var(#{color-semantic.$formfield-disabled-ink});
	--mdc-button-outline-color: var(--mdc-theme-primary);
	--mdc-button-horizontal-padding: 14px;
}

@include color-connotation-mixins.connotations-context(
	':host([unelevated]#{color-connotation-mixins.$connotation-placeholder}),:host([outlined]#{color-connotation-mixins.$connotation-placeholder})'
);

:host([unelevated]),
:host([outlined]) {
	--mdc-theme-primary: var(#{color-semantic.$vvd-color-connotation});
	--mdc-theme-on-primary: var(#{color-semantic.$vvd-color-on-connotation});
}
/////////////////////////////////////////////////////////////////////////////
.mdc-button {
	$gutter: 8px;
	height: 40px;
	border-radius: var(--border-radius);
	// ! this was supposed to be set by MDC
	font-stretch: var(--mdc-typography-button-font-stretch);
	letter-spacing: normal;

	&:not(.mdc-button--dense) {
		.vvd-icon {
			--icon-size: 20px;
		}
	}

	.leading-icon,
	.trailing-icon {
		display: flex;
	}

	> .trailing-icon {
		.vvd-icon {
			margin-inline-start: $gutter;
		}
	}

	> .leading-icon {
		.vvd-icon {
			margin-inline-end: $gutter;
		}
	}

	/* stylelint-disable-next-line order/order -- variants */
	@include size(dense, 4);
	@include size(enlarged, 6) {
		$gutter: 10px;

		> .trailing-icon {
			.vvd-icon {
				margin-inline-start: $gutter;
			}
		}

		> .leading-icon {
			.vvd-icon {
				margin-inline-end: $gutter;
			}
		}
	}
}

:host([dense]) {
	--mdc-button-horizontal-padding: 12px;
}

:host([enlarged]) {
	--mdc-button-horizontal-padding: 24px;
}

@include shape-mixins.shape(
	$shapes: (
		rounded: 6px,
		pill: 24px,
	)
);
