@use '@material/button';

.mdc-button {
  @include button.height(40px);

  border-radius: 6px;
  font-weight: 600;
  letter-spacing: normal;
  text-transform: none;
}

.vwc-button--pill {
	border-radius: 40px;
}
