@forward './vwc-button-coupling';
@use '@vonage/vvd-foundation/scss/variable-names/color-semantic-variable-names' as color-semantic;
@use '@vonage/vvd-foundation/scss/mixins/color-connotation-mixins' as color-connotation-mixins;

:host {
  --mdc-button-disabled-ink-color: var(
    #{color-semantic.$formfield-disabled-ink}
  );
  --mdc-button-disabled-fill-color: var(
    #{color-semantic.$formfield-border-idle}
  );
  --mdc-button-horizontal-padding: 14px;
}


@include color-connotation-mixins.connotations-context(
	':host([unelevated]#{color-connotation-mixins.$connotation-placeholder},[outlined]#{color-connotation-mixins.$connotation-placeholder})'
);
:host([unelevated],[outlined]) {
	 --mdc-theme-primary: var(#{color-semantic.$color-connotation-background});
   --mdc-theme-on-primary: var(#{color-semantic.$color-connotation-foreground});
}
/////////////////////////////////////////////////////////////////////////////
.mdc-button {
  border-radius: 6px;
  // ! this was supposed to be set by MDC
  font-stretch: var(--mdc-typography-button-font-stretch);
  height: 40px;
  letter-spacing: normal;

  &.mdc-button--dense {
    border-radius: 5px;
    font-size: 0.75rem;
    height: 32px;
    padding: 0 12px;
  }

  &:not(.mdc-button--dense) {
    vwc-icon {
      min-height: 18px;
      min-width: 18px;
    }
  }

  vwc-icon {
    vertical-align: sub;
  }

  > span.trailing-icon {
    > slot > vwc-icon {
      margin-left: 8px;
    }
  }

  > span.leading-icon {
    > slot > vwc-icon {
      margin-right: 8px;
    }
  }
}

:host([disabled]) .mdc-button.mdc-button--outlined {
  border-color: var(--vvd-color-disabled-fill-color);
}

:host([shape='pill']) .mdc-button {
  border-radius: 24px;
}

:host([enlarged]) .mdc-button {
  font-size: 1rem;
  height: 48px;
  padding: 0 24px;

  vwc-icon {
    min-height: 20px;
    min-width: 20px;
  }

  > span.trailing-icon {
    > slot > vwc-icon {
      margin-left: 10px;
    }
  }

  > span.leading-icon {
    > slot > vwc-icon {
      margin-right: 10px;
    }
  }
}
