@use '@vonage/vvd-typography/scss/typography' as typography;


:host {
  @include typography.typography-cat-variables('body-1-bold');
  --mdc-typography-button-font-size: var(--vvd-typography-font-size);
  --mdc-typography-button-font-weight: var(--vvd-typography-font-weight);
  --mdc-typography-button-letter-spacing: initial;
  --mdc-typography-button-text-transform: none;
  --mdc-typography-button-font-family: var(--vvd-typography-font-family);
}
