@mixin font-combo($combo-id){
				@if($combo-id == "XLarge"){
		font-family: var(--vvd-font-family-spezia);
		font-weight: 500;
		font-stretch: 75%;
		font-size: 44px;
	}
	@if($combo-id == "Large"){
		font-family: var(--vvd-font-family-spezia);
		font-weight: 500;
		font-stretch: 75%;
		font-size: 32px;
	}
	@if($combo-id == "Medium"){
		font-family: var(--vvd-font-family-spezia);
		font-weight: 500;
		font-stretch: 75%;
		font-size: 24px;
	}
	@if($combo-id == "Heading"){
		font-family: var(--vvd-font-family-spezia);
		font-weight: 500;
		font-stretch: 75%;
		font-size: 20px;
	}
	@if($combo-id == "SubHeading"){
		font-family: var(--vvd-font-family-spezia);
		font-weight: 500;
		font-stretch: 75%;
		font-size: 16px;
	}
	@if($combo-id == "Body1"){
		font-family: var(--vvd-font-family-spezia);
		font-weight: 400;
		font-stretch: 50%;
		font-size: 16px;
	}
	@if($combo-id == "Body1Bold"){
		font-family: var(--vvd-font-family-spezia);
		font-weight: 600;
		font-stretch: 50%;
		font-size: 16px;
	}
	@if($combo-id == "Body2"){
		font-family: var(--vvd-font-family-spezia);
		font-weight: 400;
		font-stretch: 50%;
		font-size: 14px;
	}
	@if($combo-id == "Body2Bold"){
		font-family: var(--vvd-font-family-spezia);
		font-weight: 600;
		font-stretch: 50%;
		font-size: 14px;
	}
	@if($combo-id == "Caption"){
		font-family: var(--vvd-font-family-spezia);
		font-weight: 600;
		font-stretch: 50%;
		font-size: 12px;
	}
	}
$vvd-xlarge-font-family: var(--vvd-font-family-spezia);
$vvd-xlarge-font-weight: 500;
$vvd-xlarge-font-stretch: 75%;
$vvd-xlarge-font-size: 44px;
$vvd-large-font-family: var(--vvd-font-family-spezia);
$vvd-large-font-weight: 500;
$vvd-large-font-stretch: 75%;
$vvd-large-font-size: 32px;
$vvd-medium-font-family: var(--vvd-font-family-spezia);
$vvd-medium-font-weight: 500;
$vvd-medium-font-stretch: 75%;
$vvd-medium-font-size: 24px;
$vvd-heading-font-family: var(--vvd-font-family-spezia);
$vvd-heading-font-weight: 500;
$vvd-heading-font-stretch: 75%;
$vvd-heading-font-size: 20px;
$vvd-subheading-font-family: var(--vvd-font-family-spezia);
$vvd-subheading-font-weight: 500;
$vvd-subheading-font-stretch: 75%;
$vvd-subheading-font-size: 16px;
$vvd-body1-font-family: var(--vvd-font-family-spezia);
$vvd-body1-font-weight: 400;
$vvd-body1-font-stretch: 50%;
$vvd-body1-font-size: 16px;
$vvd-body1bold-font-family: var(--vvd-font-family-spezia);
$vvd-body1bold-font-weight: 600;
$vvd-body1bold-font-stretch: 50%;
$vvd-body1bold-font-size: 16px;
$vvd-body2-font-family: var(--vvd-font-family-spezia);
$vvd-body2-font-weight: 400;
$vvd-body2-font-stretch: 50%;
$vvd-body2-font-size: 14px;
$vvd-body2bold-font-family: var(--vvd-font-family-spezia);
$vvd-body2bold-font-weight: 600;
$vvd-body2bold-font-stretch: 50%;
$vvd-body2bold-font-size: 14px;
$vvd-caption-font-family: var(--vvd-font-family-spezia);
$vvd-caption-font-weight: 600;
$vvd-caption-font-stretch: 50%;
$vvd-caption-font-size: 12px;
