:root {
	--vvd-font-family-spezia: 'SpeziaWeb';
}

/*
	regular (regular width)
*/
@font-face {
	font-family: 'SpeziaWeb';
	src: url('//dpnf5z0hinc7q.cloudfront.net/fonts/v1/SpeziaWeb-Regular.woff2') format('woff2');
	font-style: normal;
	font-weight: 400;
}

/*
	medium (wide width)
*/
@font-face {
	font-family: 'SpeziaWeb';
	src: url('//dpnf5z0hinc7q.cloudfront.net/fonts/v1/SpeziaWeb-WideMedium.woff2') format('woff2');
	font-style: normal;
	font-weight: 500;
}

/*
	semi-bold (regular width)
*/
@font-face {
	font-family: 'SpeziaWeb';
	src: url('//dpnf5z0hinc7q.cloudfront.net/fonts/v1/SpeziaWeb-SemiBold.woff2') format('woff2');
	font-style: normal;
	font-weight: 600;
}

@supports (font-variation-settings: 'wdth' 9) {
	:root {
		--vvd-font-family-spezia: 'SpeziaWebVariable';
	}

	@font-face {
		font-family: 'SpeziaWebVariable';
		src:  url('//dpnf5z0hinc7q.cloudfront.net/fonts/v1/Spezia_Web_Complete_Upright.woff2') format('woff2-variations');
		font-style: normal;
		font-weight: 1 1000;
		font-stretch: 50% 200%;
	}
}