$size-variable-name: --icon-size;

:host([size='small']) {
	#{$size-variable-name}: 16px;
}
:host,
:host([size='medium']) {
	#{$size-variable-name}: 24px;
}
:host([size='large']) {
	#{$size-variable-name}: 32px;
}

:host([inline]) {
	#{$size-variable-name}: 1em;
	line-height: 1;
	vertical-align: middle;
}

:host {
	display: inline-block;
	width: var(#{$size-variable-name});
	height: var(#{$size-variable-name});
	inline-size: var(#{$size-variable-name});
	block-size: var(#{$size-variable-name});
	line-height: 1;
	vertical-align: middle;

	svg {
		max-inline-size: 100%;
		max-block-size: 100%;
		vertical-align: super;
		fill: currentColor;
	}
}
