@use 'partials/vwc-icon-variables' as icon-variables;

@use '@vonage/vvd-foundation/scss/mixins/color-connotation' as color-connotation with (
	$connotations-set: primary cta announcement success alert info
);

@include color-connotation.connotations-main;

:host([size='small']) {
	#{icon-variables.$icon-size-variable-name}: 16px;
}

:host,
:host([size='medium']) {
	#{icon-variables.$icon-size-variable-name}: 24px;
}

:host([size='large']) {
	#{icon-variables.$icon-size-variable-name}: 32px;
}

:host([inline]) {
	#{icon-variables.$icon-size-variable-name}: 1em;
	line-height: 1;
	vertical-align: middle;
}

:host {
	display: inline-block;
	width: var(#{icon-variables.$icon-size-variable-name});
	height: var(#{icon-variables.$icon-size-variable-name});
	block-size: var(#{icon-variables.$icon-size-variable-name});
	inline-size: var(#{icon-variables.$icon-size-variable-name});
	line-height: 1;
	vertical-align: middle;

	figure {

		display: contents;

		> svg {
			block-size: 100%;
			fill: var(#{color-connotation.$vvd-color-connotation}, currentColor);
			inline-size: 100%;
			vertical-align: super;
		}
	}
}
