$icon-button-shape: --vvd-icon-button-shape;
$icon-button-block-size: --vvd-icon-button-block-size;
$icon-button-icon-size-variable-name: --vvd-icon-button-icon-size;
$vvd-icon-button-layout: --vvd-icon-button-layout;
