$vvd-side-drawer--padding: --vvd-side-drawer--padding;
$vvd-side-drawer--min-inline-size: --vvd-side-drawer--min-inline-size;

$padding-default: var(#{$vvd-side-drawer--padding}, 16px);
$min-width: 280px;

@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables' as scheme-variables;
@use '@vonage/vvd-typography/scss/typography' as typography;

:host {
	display: flex;
	block-size: 100%;
}

.side-drawer {
	min-inline-size: var(#{$vvd-side-drawer--min-inline-size}, $min-width);

	&:not(.vvd-side-drawer--alternate):not(.vvd-side-drawer--modal) {
		background-color: var(#{scheme-variables.$vvd-color-neutral-10});
	}
	&.vvd-side-drawer--alternate,
	&.vvd-side-drawer--modal {
		background-color: var(#{scheme-variables.$vvd-color-base});
	}
}

.vvd-side-drawer--top-bar {
	display: flex;
	align-items: center;
	block-size: 64px;
	padding-inline-end: var(#{$vvd-side-drawer--padding}--top-bar, #{$padding-default});
	padding-inline-start: var(#{$vvd-side-drawer--padding}--top-bar, #{$padding-default});
}

.vvd-side-drawer--content {
	padding-inline-end: var(#{$vvd-side-drawer--padding}--content, #{$padding-default});
	padding-inline-start: var(#{$vvd-side-drawer--padding}--content, #{$padding-default});
}

.vwc-surface {
	--mdc-menu-max-height: 100%;
	--mdc-menu-min-width: var(#{$vvd-side-drawer--min-inline-size}, $min-width);
}
