@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables';
@use '@vonage/vvd-foundation/scss/mixins/shape-mixins' with(
	$variable-name: --vvd-button-toggle-shape
);
@use '@vonage/vvd-foundation/scss/mixins/color-connotation/variables' as connotation-variables;
@use '@vonage/vvd-foundation/scss/mixins/color-connotation' with (
	$connotations-set: primary,
	$selector: '::slotted(vwc-button#{connotation-variables.$compound-placeholder})'
);

@include shape-mixins.shape(
	$shapes: (
		rounded: 6px,
		pill: 24px,
	)
);

@include color-connotation.connotations-shades;
@include color-connotation.connotations-shades-default(primary);

:host {
	display: flex;
}

::slotted(vwc-button) {
	#{color-connotation.$vvd-color-connotation}: var(#{color-connotation.$vvd-color-connotation-soft});
	#{color-connotation.$vvd-color-on-connotation}: var(#{scheme-variables.$vvd-color-on-base});
}

// stylelint-disable selector-no-qualifying-type
::slotted(vwc-button[selected]) {
	// stylelint-enable selector-no-qualifying-type
	#{color-connotation.$vvd-color-connotation}: var(#{color-connotation.$vvd-color-connotation-underemphasis});
}

::slotted(vwc-button:not(:first-child):not(:last-child)) {
	--vvd-button-shape: 0;
}

::slotted(vwc-button:first-child) {
	--vvd-button-shape: var(--vvd-button-toggle-shape) 0 0 var(--vvd-button-toggle-shape);
}

::slotted(vwc-button:last-child) {
	--vvd-button-shape: 0 var(--vvd-button-toggle-shape) var(--vvd-button-toggle-shape) 0;
}
