$dps: 2 4 8 12 16 24;

@each $dp in $dps {
	.vwc-elevation-dp-#{$dp} {
		background-color: var(--vvd-scheme-elevation-dp-#{$dp}-canvas);
		box-shadow: var(--vvd-scheme-elevation-dp-#{$dp}-box-shadow);
	}
}

#vwc-elevation-wrapper {
	display: inline-block;
}
