$indent: --vvd-calendar-event-indent;
$overlap-count: --vvd-calendar-event-overlap-count;
$event-color: --vvd-calendar-event-event-color;
$event-day: --vvd-calendar-event-event-day;
$event-row: --vvd-calendar-event-event-row;

:host {
	display: contents;
}

section {
	#{$indent}: calc(var(#{$overlap-count}, 0) * 8px);
	z-index: var(#{$overlap-count});
	margin: 1px 1px 1px calc(1px + var(#{$indent}));
	background-color: var(#{$event-color});
	border-radius: 3.64752px;
	grid-column: var(#{$event-day});
	grid-row: var(#{$event-row});
	&:focus {
		z-index: 2000;
	}
}
