@use '@vonage/vvd-typography/scss/typography';
@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables';
@use 'partials/vwc-calendar-variables' as calendar-variables;

:host {
	display: contents;
}

section {
	$unit-indent: 8px;
	$gutter: 2px;
	#{calendar-variables.$indent}: calc(#{$unit-indent} + var(#{calendar-variables.$overlap-count}, 0) * #{$unit-indent});
	z-index: var(#{calendar-variables.$overlap-count});
	overflow: hidden;
	margin: #{$gutter} #{$unit-indent} #{$gutter} min(var(#{calendar-variables.$indent}), #{$unit-indent * 4});
	background-color: var(#{calendar-variables.$color}, var(#{scheme-variables.$vvd-color-neutral-40}));
	border-radius: 6px;
	color: var(#{scheme-variables.$vvd-color-on-primary});
	contain: strict;
	grid-column: var(#{calendar-variables.$day});
	grid-row: var(#{calendar-variables.$start}) / var(#{calendar-variables.$duration});
	&:focus {
		z-index: 2000;
	}
}

h2 {
	@include typography.typography-cat-shorthand('body-2-bold');
	margin: 0 16px 4px;
	> strong {
		font: inherit;
	}
}

p {
	@include typography.typography-cat-shorthand('caption');
	margin: 0 16px;
}
