@use '@vonage/vvd-foundation/scss/mixins/shape-mixins' as shape-mixins;

:host {
	display: inline-flex;
	--border-radius-combined: var(--border-radius);
}

::slotted(vwc-badge:first-of-type) {
	--border-radius: var(--border-radius-combined) 0 0 var(--border-radius-combined);
}

::slotted(vwc-badge:last-of-type) {
	--border-radius: 0 var(--border-radius-combined) var(--border-radius-combined) 0;
}

@include shape-mixins.shape(
	$shapes: (
		rounded: 4px,
		pill: 14px,
	)
);
