$namespace: --vvd-badge;
$namespace-layout: #{$namespace}-layout;
$namespace-shape: #{$namespace}-shape;

@use '@vonage/vwc-icon/src/partials/vwc-icon-variables' as icon-variables;
@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables' as scheme-variables;
@use '@vonage/vvd-typography/scss/typography' as typography;
@use '@vonage/vvd-foundation/scss/mixins/color-connotation' as color-connotation with (
	$connotations-set: primary cta success alert warning info
);

@use '@vonage/vvd-foundation/scss/mixins/shape-mixins' as shape-mixins with (
	$variable-name: #{$namespace-shape}
);
@use '@vonage/vvd-foundation/scss/mixins/layout-mixins' as layout-mixins with (
	$layouts: filled outlined-duotone soft,
	$variable-prefix: #{$namespace-layout}
);

$vvd-badge--block-size: --#{$namespace}--block-size;

@include color-connotation.connotations-main-default(primary);
@include color-connotation.connotations-main;

@include color-connotation.connotations-shades-default(primary);
@include color-connotation.connotations-shades;

@include shape-mixins.shape(
	$shapes: (
		rounded: 4px,
		pill: 14px,
	)
);

@include layout-mixins.layout();
@include layout-mixins.layout-default(filled);

:host(:not([dense]):not([enlarged])) {
	#{$vvd-badge--block-size}: 24px;
}

:host([dense]) {
	#{$vvd-badge--block-size}: 20px;
}

:host([enlarged]) {
	#{$vvd-badge--block-size}: 28px;
}

.vwc-badge {
	@include typography.typography-cat-shorthand('caption-bold');
	display: inline-flex;
	align-items: center;
	padding: 0 10px;
	border: var(#{$namespace-layout}--outline);
	background-color: var(#{$namespace-layout}--fill);
	border-radius: var(#{$namespace-shape});
	color: var(#{$namespace-layout}--text);
	line-height: var(#{$vvd-badge--block-size});

	:host([dense]) & {
		padding: 0 8px;
	}

	:host([enlarged]) & {
		padding: 0 12px;
	}
}

.icon {
	#{icon-variables.$icon-size-variable-name}: 12px;
	$margin: 8px;

	&.icon--leading {
		margin-inline-end: $margin;
	}
	&.icon--trailing {
		margin-inline-start: $margin;
	}
}
