@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/_scheme-variables' as scheme-variables;

@mixin scheme-variables-coupling {
  body {
    color: var(#{scheme-variables.$vvd-color-base-foreground});
    background-color: var(#{scheme-variables.$vvd-color-base-background});
	}

	code {
		background-color: grey;
	}

	a {
		color: var(#{scheme-variables.$vvd-color-cta-background});
	}
}
