@use '@vonage/vvd-typography/scss/typography';

@mixin default {
  body {
    @supports (font-size-adjust: 1) {
      font-size-adjust: 0.5;
    }
    @include typography.typography-cat-shorthand('body-1');
  }

  b,
  strong {
    @include typography.typography-cat-shorthand('body-1-bold');
  }

  h1 {
    @include typography.typography-cat-shorthand('headline');
  }

  h2 {
    @include typography.typography-cat-shorthand('title');
  }

  h3 {
		@include typography.typography-cat-shorthand('subtitle-2');
  }

  h6 {
    @include typography.typography-cat-shorthand('body-2');
  }

  p {
    width: 60ch;
    max-width: 100%;
  }

  code,
  samp,
  kbd,
  var {
    // font-family: 'SpeziaCompleteTrial-Monospace';
    display: block;
    border-radius: 4px;
  }
}
