@use '@vonage/vvd-typography/scss/typography';

@mixin default {
  body {
    @supports (font-size-adjust: 1) {
      font-size-adjust: 0.5;
    }
    @include typography.typography-cat-shorthand('body-1');
  }

  h1 {
    @include typography.typography-cat-shorthand('headline');
  }

  h2 {
    @include typography.typography-cat-shorthand('title');
  }

  h3 {
		@include typography.typography-cat-shorthand('subtitle-1');
  }

	h4 {
    @include typography.typography-cat-shorthand('subtitle-3');
  }

  h5 {
		@include typography.typography-cat-shorthand('subtitle-3');
  }

  h6 {
    @include typography.typography-cat-shorthand('body-2');
  }

  b,
  strong {
    @include typography.typography-cat-shorthand('body-1-bold');
  }

  p {
    width: 60ch;
    max-width: 100%;
	}

	code,
	kbd {
		font-family: 'SpeziaMonoWebVariable', monospace;
	}

	b,
	strong {
		@include typography.typography-cat-shorthand('body-1-bold');
	}

	a {
		@include typography.typography-cat-shorthand('body-1-link');
	}

	samp,
  var {
		@include typography.typography-cat-shorthand('body-1-code');
    display: block;
    border-radius: 4px;
  }
}
