@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables' as scheme-variables;
@use '@vonage/vvd-typography/scss/typography' as typography;
@use 'partials/vwc-tooltip-variables' as tooltip-variables;

@use '@vonage/vvd-foundation/scss/mixins/connotation/config' with (
	$connotations-set: primary cta success alert warning info,
	$shades: (soft, contrast),
	$default: primary,
);
@use '@vonage/vvd-foundation/scss/mixins/connotation' as connotation;

@use '@vonage/vvd-foundation/scss/mixins/layout/config' as layout-config with (
	$layout-set: filled outlined soft,
	$outline-duotone: true,
	$default: filled,
);
@use '@vonage/vvd-foundation/scss/mixins/layout' as layout;

.tooltip {
	@include typography.typography-cat-shorthand('body-2');
	@include layout.layout;
	@include connotation.connotation;
	display: none;
	max-width: var(#{tooltip-variables.$tooltip-max-width}, 320px);
	box-sizing: border-box;
	align-items: center;
	padding: 1rem;
	background-color: var(#{layout.$vvd-layout-color-fill});
	border-radius: 6px;
	color: var(#{layout.$vvd-layout-color-text});
	
	&-content {
		display: flex;
		flex-direction: column;
		.normal & {
			padding: 0.5rem;
		}
	}
	&-text {
		@include typography.typography-cat-shorthand('body-2-bold');
	}
	&-dismiss-button {
		align-self: flex-start;
	}
}

.open {
	display: inline-flex;
}

#arrow,
#arrow::before {
	position: absolute;
	width: 8px;
	height: 8px;
	background: inherit;
}

#arrow {
	visibility: hidden;
}

#arrow::before {
	content: '';
	transform: rotate(45deg);
	visibility: visible;
}


.tooltip[data-popper-placement^='top'] > #arrow {
	bottom: -4px;
}

.tooltip[data-popper-placement^='bottom'] > #arrow {
	top: -4px;
}

.tooltip[data-popper-placement^='left'] > #arrow {
	right: -4px;
}

.tooltip[data-popper-placement^='right'] > #arrow {
	left: -4px;
}
