@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables' as scheme-variables;

$default-surface-border-radius: 6px;
$surface-border-radius: --vvd-surface-border-radius;

:host {
	.mdc-menu-surface {
		background-color: var(#{scheme-variables.$vvd-color-surface-8dp});
		border-radius: var(#{$surface-border-radius}, $default-surface-border-radius);
		box-shadow: none; /*to remove the mdc box-shadow*/
		filter: var(#{scheme-variables.$vvd-shadow-surface-8dp});
	}
}
