@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables' as scheme-variables;
@use '@vonage/vvd-foundation/scss/variable-names/color-semantic-variable-names' as color-semantic;
@use '@vonage/vvd-typography/scss/typography' as typography;

#title, #content, #actions, #dialog_icon {
	padding-right: 0;
	padding-left: 0;
	display: flex;
}

::slotted([slot=icon]) {
	margin-bottom: 18px;
}

#title {
	@include typography.typography-cat-shorthand('subtitle-2');
	padding-bottom: 0;
	margin-bottom: 8px;
}

#content {
	@include typography.typography-cat-shorthand('body-2');
}

#actions {
	@include typography.typography-cat-shorthand('body-2-bold');
	padding-bottom: 0;
}

.mdc-dialog__surface {
	padding: 32px;
}

.mdc-dialog .mdc-dialog__content {
	padding-top: 0;
}

.mdc-dialog__content.last {
	padding-bottom: 0;
}

.mdc-dialog__title::before {
	height: 0;
}
