@use '@vonage/vwc-textfield/src/vwc-textfield';
@use '@vonage/vvd-fonts/typography' as typography;

:host {
	--mdc-text-field-outlined-idle-border-color: var(--vvd-grey-400);
  --mdc-text-field-outlined-hover-border-color:	var(--mdc-theme-primary);
  --mdc-text-field-outlined-disabled-border-color: #e1e2e6;

	@include typography.font-combo('Body2');
}

.mdc-text-field--textarea {
	height: 100%;
	min-height: 48px;

	&.mdc-text-field--outlined {

		padding-top: 22px;

		&.mdc-text-field--no-label {
			.mdc-text-field__input {
				padding-top: 8px;
			}
		}

		.mdc-text-field__input {
			@include typography.font-combo('Body2');
			height: auto;
			margin: 0;
			resize: vertical;
		}

		.mdc-floating-label {
			top: 15px;

			&--float-above {
				transform: translateY(-9px) scale(1);
			}
		}
	}
}