@use '@vonage/vwc-textfield/src/vwc-textfield' as textfield;

:host([dense][label]:not([label=''])) {
  .mdc-text-field--outlined {
		padding-top: 8px;
	}
}

.mdc-text-field--textarea {
	height: 100%;
	min-height: var(#{textfield.$vvd-text-field-size-block});
	padding-left: 0;
	padding-right: 0;

	.mdc-text-field__input {
		padding-left: 14px;
		padding-right: 14px;
	}

	&.mdc-text-field--outlined {
		padding-top: 22px;

		&.mdc-text-field--no-label {
			padding-top: 8px;
		}

		.mdc-text-field__input {
			font-stretch: var(--mdc-typography-subtitle1-font-stretch); // ! this was supposed to be set by MDC
			height: auto;
			margin: 0;
			resize: vertical;
		}

		.mdc-floating-label {
			font-stretch: var(--mdc-typography-subtitle1-font-stretch); // ! this was supposed to be set by MDC
			top: 15px;

			&--float-above {
				font-size: var(--mdc-typography-subtitle1-font-size);
				transform: translateY(-9px) scale(1);
			}
		}
	}
}
