@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables';
@forward './vwc-drawer-coupling';

.mdc-drawer {
	position: sticky;
	top: 0;
	border-color: var(#{scheme-variables.$vvd-color-20-neutral});
	block-size: 100%;
	max-block-size: 100vh;

	&.mdc-drawer--dismissible {
		:host([theme-alternate]) & {
			background-color: var(#{scheme-variables.$vvd-color-base});
			color: var(#{scheme-variables.$vvd-color-on-base});
		}
		:host(:not([theme-alternate])) & {
			background-color: var(#{scheme-variables.$vvd-color-base});
			color: var(#{scheme-variables.$vvd-color-on-base});
		}
	}

	.mdc-drawer__title {
		color: var(#{scheme-variables.$vvd-color-on-base});
	}
	.mdc-drawer__subtitle {
		color: var(#{scheme-variables.$vvd-color-on-base});
	}
}

.mdc-drawer-app-content {
	background-color: var(#{scheme-variables.$vvd-color-base});
	color: var(#{scheme-variables.$vvd-color-on-base});
}
