@forward './vwc-drawer-coupling';
@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/_scheme-variables' as scheme-variables;

:host {
  --mdc-theme-surface: var(#{scheme-variables.$vvd-color-base-background});

  color: var(#{scheme-variables.$vvd-color-base-foreground});
}

.mdc-drawer {
  border-color: var(#{scheme-variables.$vvd-color-base-faint});

  .mdc-drawer__title,
  .mdc-drawer__subtitle {
    color: var(#{scheme-variables.$vvd-color-base-foreground});
  }
}

