@use '@vonage/vvd-typography/scss/typography' as typography;
@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables';

//--------------------
// flatpickr overrides
//--------------------
.flatpickr-calendar.vvd-datepicker {
	background: var(#{scheme-variables.$vvd-color-base});
	border: 1px solid var(#{scheme-variables.$vvd-color-contrast-faint});
	border-radius: 6px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	width: 320px;
	@include typography.typography-cat-shorthand('body-2');

	&:not(.noCalendar) {
		padding: 24px 0 16px;
	}

	.flatpickr {
		&-months {
			display: none;
		}

		&-rContainer,
		&-weekdays,
		&-days,
		&-days .dayContainer,
		&-dayContainer {
			border: none;
			min-width: 286px;
			width: 286px;
		}

		&-weekdays {
			background: none;
			border-bottom: 1px solid var(#{scheme-variables.$vvd-color-contrast-faint});
			height: 20px;
			margin-bottom: 8px;
			text-transform: uppercase;
		}

		&-weekday {
			background: none;
			color: var(#{scheme-variables.$vvd-color-on-base});
			font-size: 12px;
			font-weight: 600;
		}

		&-day {
			border: 0;
			color: var(#{scheme-variables.$vvd-color-on-base});
			height: 30px;
			line-height: 30px;
			margin-top: 4px;
			transition: color 0.2s;

			&::before {
				background-color: transparent;
				border-radius: 50%;
				content: '';
				height: 30px;
				left: 50%;
				margin-left: -15px;
				position: absolute;
				transition: background-color 0.2s;
				width: 30px;
				z-index: -1;
			}

			&:nth-child(7n) {
				&.flatpickr-day.inRange {
					border-bottom-right-radius: 15px;
					border-top-right-radius: 15px;
					box-shadow: -5px 0 0 var(#{scheme-variables.$vvd-color-contrast-faint});
				}
			}

			&:nth-child(7n + 1) {
				&.flatpickr-day.inRange {
					border-bottom-left-radius: 15px;
					border-top-left-radius: 15px;
					box-shadow: 5px 0 0 var(#{scheme-variables.$vvd-color-contrast-faint});
				}

				&.flatpickr-day.inRange,
				&.flatpickr-day.endRange {
					&::after {
						display: none;
					}
				}
			}

			&.today::before {
				border: 1px solid var(#{scheme-variables.$vvd-color-primary});
				box-sizing: border-box;
			}

			&.prevMonthDay,
			&.flatpickr-disabled {
				color: var(#{scheme-variables.$vvd-color-contrast-dim});
				cursor: default;
				pointer-events: none;
			}

			&.nextMonthDay {
				height: 0;
				visibility: hidden;
			}

			&:hover,
			&.startRange,
			&.endRange,
			&.selected {
				background: none;
				border: 0;
				color: var(#{scheme-variables.$vvd-color-on-primary});
				font-weight: 600;
				position: relative;

				&::before {
					background-color: var(#{scheme-variables.$vvd-color-primary});
				}
			}

			&.selected {
				&::before {
					animation-duration: 0.1s;
					animation-name: selected;
					background-color: var(#{scheme-variables.$vvd-color-announcement});
				}
			}

			@keyframes selected {
				0% {
					background-color: var(#{scheme-variables.$vvd-color-primary});
				}
				100% {
					background-color: var(#{scheme-variables.$vvd-color-announcement});
				}
			}

			&.startRange + .inRange,
			&.endRange {
				&::after {
					background-color: var(#{scheme-variables.$vvd-color-contrast-faint});
					content: '';
					height: 30px;
					position: absolute;
					right: 50%;
					width: 100%;
					z-index: -2;
				}
			}

			&.startRange {
				&.endRange {
					&::after {
						display: none;
					}
				}
			}

			&.inRange,
			&.inRange.today {
				background-color: var(#{scheme-variables.$vvd-color-contrast-faint});
				border-color: var(#{scheme-variables.$vvd-color-contrast-faint});
				box-shadow: -5px 0 0 var(#{scheme-variables.$vvd-color-contrast-faint}),
					5px 0 0 var(#{scheme-variables.$vvd-color-contrast-faint});
				font-weight: 600;

				&:hover {
					color: var(#{scheme-variables.$vvd-color-contrast-tinted});
				}
			}
		}

		&-innerContainer {
			border: none;
			padding: 16px 16px 0;
		}
	}

	// removes box-shadow on adjacent days in range mode
	.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n + 1)),
	.flatpickr-day.startRange + .selected.endRange:not(:nth-child(7n + 1)) {
		box-shadow: none;
	}
}

//--------------
// custom header
//--------------
.vvd-datepicker-header {
	align-items: center;
	display: flex;
	height: 32px;
	padding: 0 16px;
	@include typography.typography-cat-shorthand('subtitle-2');

	.vvd-month {
		cursor: pointer;
		margin-right: 8px;

		&:hover {
			color: var(#{scheme-variables.$vvd-color-contrast-tinted});
		}
	}

	vwc-icon-button {
		display: flex;

		&:first-of-type {
			margin-left: auto;
		}
	}
}

//-----------------------
// custom range container
//-----------------------
.vvd-datepicker-range {
	align-items: center;
	background-color: var(#{scheme-variables.$vvd-color-announcement});
	box-sizing: border-box;
	color: var(#{scheme-variables.$vvd-color-on-announcement});
	display: flex;
	height: 56px;
	justify-content: space-between;
	margin-top: 16px;
	padding: 0 16px;
	position: relative;

	&-start,
	&-end {
		@include typography.typography-cat-shorthand('body-1-bold');

		&::before {
			display: flex;
			@include typography.typography-cat-shorthand('body-1');
		}

		&.selected {
			&::before {
				@include typography.typography-cat-shorthand('caption');
			}
		}
	}

	&-start::before {
		content: 'Start';
	}

	&-end {
		flex-basis: 120px;
		text-align: left;

		&::before {
			content: 'End';
		}
	}

	&::after {
		background-color: var(#{scheme-variables.$vvd-color-on-announcement});
		content: '';
		height: 38px;
		left: 50%;
		margin-left: -1px;
		opacity: 0.5;
		position: absolute;
		top: 8px;
		transform: rotate(36deg);
		width: 1px;
	}
}

//--------------
// custom footer
//--------------
.vvd-datepicker-footer {
	padding: 0 16px;
	text-align: right;
}

//--------------------
// custom month picker
//--------------------
.vvd-datepicker-month-view .vvd-datepicker-months {
	display: block;
}

.vvd-datepicker-months {
	background-color: var(#{scheme-variables.$vvd-color-base});
	display: none;
	padding: 40px 16px 0;
	position: absolute;
	top: 56px;
	left: 0;
	bottom: 0;
	right: 0;

	.vvd-month {
		cursor: pointer;
		display: inline-block;
		justify-content: center;
		margin-bottom: 24px;
		padding: 12px 0;
		position: relative;
		text-transform: uppercase;
		transition: color 0.2s;
		width: 25%;
		z-index: 1;

		&::after {
			background-color: transparent;
			border-radius: 50%;
			bottom: 0;
			content: '';
			height: 48px;
			left: 50%;
			position: absolute;
			top: -3px;
			transform: translateX(-50%);
			transition: background-color 0.2s;
			width: 48px;
			z-index: -1;
		}

		&:hover,
		&.vvd-selected {
			color: var(#{scheme-variables.$vvd-color-on-primary});
			cursor: pointer;
			font-weight: 600;

			&::after {
				background-color: var(#{scheme-variables.$vvd-color-primary});
			}
		}

		&.vvd-selected {
			&::after {
				background-color: var(#{scheme-variables.$vvd-color-announcement});
			}
		}

		// &.vvd-month-disabled {
		//   color: $grey;
		//   cursor: default;
		//   pointer-events: none;
		// }
	}
}

// ---------------------
// style dump from volta

// &.rangeMode {
//     .Vlt-datepicker__range {
//         display: block;
//     }

//     .flatpickr-day {
//         &.selected {
//             &:before {
//                 animation-name: none;
//                 background-color: $black;
//             }
//         }
//     }

//     .Vlt-datepicker__months {
//         .Vlt-datepicker__month {
//             &.selected {
//                 color: $black;

//                 &:after {
//                     background-color: $grey-lighter;
//                 }
//             }
//         }
//     }
// }
