@use '@vonage/vvd-typography/scss/typography' as typography;
@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables';

//--------------------
// flatpickr overrides
//--------------------
.flatpickr-calendar.vvd-datepicker {
	@include typography.typography-cat-shorthand('body-2');
	overflow: hidden;
	width: 320px;
	border: 1px solid var(#{scheme-variables.$vvd-color-contrast-faint});
	background: var(#{scheme-variables.$vvd-color-base});
	border-radius: 6px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
	color: var(#{scheme-variables.$vvd-color-on-base});

	&:not(.noCalendar) {
		padding: 24px 0 16px;
	}

	.flatpickr {
		&-months {
			display: none;
		}

		&-rContainer,
		&-weekdays,
		&-days,
		&-days .dayContainer,
		&-dayContainer {
			width: 286px;
			min-width: 286px;
			border: 0;
		}

		&-weekdays {
			height: 20px;
			border-bottom: 1px solid var(#{scheme-variables.$vvd-color-contrast-faint});
			margin-bottom: 8px;
			background: none;
			text-transform: uppercase;
		}

		&-weekday {
			background: none;
			color: var(#{scheme-variables.$vvd-color-on-base});
			font-size: 12px;
			font-weight: 600;
		}

		&-day {
			height: 30px;
			border: 0;
			margin-top: 4px;
			color: var(#{scheme-variables.$vvd-color-on-base});
			line-height: 30px;

			&::before {
				position: absolute;
				z-index: -1;
				left: 50%;
				width: 30px;
				height: 30px;
				margin-left: -15px;
				background-color: transparent;
				border-radius: 50%;
				content: '';
			}

			&:nth-child(7n) {
				&.flatpickr-day.inRange {
					border-bottom-right-radius: 15px;
					border-top-right-radius: 15px;
					box-shadow: -5px 0 0 var(#{scheme-variables.$vvd-color-contrast-faint});
				}
			}

			&:nth-child(7n + 1) {
				&.flatpickr-day.inRange {
					border-bottom-left-radius: 15px;
					border-top-left-radius: 15px;
					box-shadow: 5px 0 0 var(#{scheme-variables.$vvd-color-contrast-faint});
				}

				&.flatpickr-day.inRange,
				&.flatpickr-day.endRange {
					&::after {
						display: none;
					}
				}
			}

			&.today::before {
				box-sizing: border-box;
				border: 1px solid var(#{scheme-variables.$vvd-color-primary});
			}

			&.prevMonthDay,
			&.flatpickr-disabled {
				color: var(#{scheme-variables.$vvd-color-contrast-dim});
				cursor: default;
				pointer-events: none;
			}

			&.nextMonthDay {
				height: 0;
				visibility: hidden;
			}

			&:hover,
			&.startRange,
			&.endRange,
			&.selected {
				position: relative;
				border: 0;
				background: none;
				color: var(#{scheme-variables.$vvd-color-on-primary});
				font-weight: 600;

				&::before {
					background-color: var(#{scheme-variables.$vvd-color-primary});
				}
			}

			&.selected:not(.startRange):not(.endRange) {
				&::before {
					background-color: var(#{scheme-variables.$vvd-color-announcement});
				}
			}

			// &.selected {
			//   &::before {
			//       animation-name: none;
			//       background-color: $black;
			//   }
			// }

			&.startRange + .inRange,
			&.endRange {
				&::after {
					position: absolute;
					z-index: -2;
					right: 50%;
					width: 100%;
					height: 30px;
					background-color: var(#{scheme-variables.$vvd-color-contrast-faint});
					content: '';
				}
			}

			&.startRange {
				&.endRange {
					&::after {
						display: none;
					}
				}
			}

			&.inRange,
			&.inRange.today {
				border-color: var(#{scheme-variables.$vvd-color-contrast-faint});
				background-color: var(#{scheme-variables.$vvd-color-contrast-faint});
				box-shadow: -5px 0 0 var(#{scheme-variables.$vvd-color-contrast-faint}),
					5px 0 0 var(#{scheme-variables.$vvd-color-contrast-faint});
				font-weight: 600;

				&:hover {
					color: var(#{scheme-variables.$vvd-color-contrast-tinted});
				}
			}
		}

		&-innerContainer {
			padding: 16px 16px 0;
			border: 0;
		}
	}

	// removes box-shadow on adjacent days in range mode
	.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n + 1)),
	.flatpickr-day.startRange + .selected.endRange:not(:nth-child(7n + 1)) {
		box-shadow: none;
	}
}

.vvd-datepicker-fixed {
	position: fixed;
}

//--------------
// custom header
//--------------
.vvd-datepicker-header {
	@include typography.typography-cat-shorthand('subtitle-2');
	display: flex;
	height: 32px;
	align-items: center;
	padding: 0 16px;

	.vvd-month {
		display: block;
		margin-right: 8px;
		cursor: pointer;

		&:hover {
			color: var(#{scheme-variables.$vvd-color-contrast-tinted});
		}
	}

	vwc-icon-button {
		display: flex;

		&:first-of-type {
			margin-left: auto;
		}
	}
}

.vvd-datepicker-month-view .vvd-datepicker-header {
	.vvd-month {
		display: none;
	}

	.vvd-year::before {
		margin-right: 8px;
		content: 'Year';
	}
}

//-----------------------
// custom range container
//-----------------------
.vvd-datepicker-range {
	position: relative;
	display: flex;
	height: 56px;
	box-sizing: border-box;
	align-items: center;
	justify-content: space-between;
	padding: 0 16px;
	margin-top: 16px;
	background-color: var(#{scheme-variables.$vvd-color-announcement});
	color: var(#{scheme-variables.$vvd-color-on-announcement});

	&-start,
	&-end {
		@include typography.typography-cat-shorthand('body-1-bold');

		&::before {
			@include typography.typography-cat-shorthand('body-1');
			display: flex;
		}

		&.vvd-selected {
			&::before {
				@include typography.typography-cat-shorthand('caption');
			}
		}
	}

	&-start::before {
		content: 'Start';
	}

	&-end {
		flex-basis: 120px;
		text-align: left;

		&::before {
			content: 'End';
		}
	}

	&::after {
		position: absolute;
		top: 8px;
		left: 50%;
		width: 1px;
		height: 38px;
		margin-left: -1px;
		background-color: var(#{scheme-variables.$vvd-color-on-announcement});
		content: '';
		opacity: 0.5;
		transform: rotate(36deg);
	}
}

//--------------
// custom footer
//--------------
.vvd-datepicker-footer {
	padding: 0 16px;
	text-align: right;
}

//--------------------
// custom month picker
//--------------------
.vvd-datepicker-month-view {
	min-height: 324px;

	&.rangeMode {
		min-height: 396px;

		.vvd-datepicker-months {
			top: 128px;
		}
	}

	.vvd-datepicker-months {
		display: block;
	}

	.flatpickr-innerContainer,
	.vvd-datepicker-footer {
		display: none;
	}
}

.vvd-datepicker-months {
	position: absolute;
	top: 56px;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	padding: 40px 16px 0;
	background-color: var(#{scheme-variables.$vvd-color-base});

	.vvd-month {
		position: relative;
		z-index: 1;
		display: inline-block;
		width: 25%;
		justify-content: center;
		padding: 12px 0;
		margin-bottom: 24px;
		cursor: pointer;
		text-transform: uppercase;

		&::after {
			position: absolute;
			z-index: -1;
			top: -3px;
			bottom: 0;
			left: 50%;
			width: 48px;
			height: 48px;
			background-color: transparent;
			border-radius: 50%;
			content: '';
			transform: translateX(-50%);
		}

		&:hover,
		&.vvd-selected {
			color: var(#{scheme-variables.$vvd-color-on-primary});
			cursor: pointer;
			font-weight: 600;

			&::after {
				background-color: var(#{scheme-variables.$vvd-color-primary});
			}
		}

		&.vvd-selected {
			&::after {
				background-color: var(#{scheme-variables.$vvd-color-announcement});
			}
		}

		&.vvd-current-month {
			&::after {
				border: 1px solid var(#{scheme-variables.$vvd-color-primary});
			}
		}

		&.vvd-month-disabled {
			color: var(#{scheme-variables.$vvd-color-contrast-dim});
			cursor: default;
			pointer-events: none;
		}
	}
}
