@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables' as scheme-variables;
@use '@vonage/vvd-typography/scss/typography' as typography;

@use '@vonage/vvd-foundation/scss/mixins/connotation/config' with (
	$connotations-set: primary cta success alert warning info,
	$shades: (soft, contrast),
	$default: primary,
);
@use '@vonage/vvd-foundation/scss/mixins/connotation' as connotation;

@use '@vonage/vvd-foundation/scss/mixins/layout/config' as layout-config with (
	$layout-set: filled outlined soft,
	$outline-duotone: true,
	$default: filled,
);
@use '@vonage/vvd-foundation/scss/mixins/layout' as layout;

.popup-tip {
	@include typography.typography-cat-shorthand('body-2');
	@include layout.layout;
	@include connotation.connotation;
}
