@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/_scheme-variables' as scheme-variables;
@use '@vonage/vvd-foundation/scss/variable-names/color-semantic-variable-names' as color-semantic;

:host {
	--mdc-radio-unchecked-color: var(#{scheme-variables.$vvd-color-on-base});
	--mdc-radio-disabled-color: var(#{scheme-variables.$vvd-color-contrast-soft});
}

.mdc-radio {
	padding: 0;

	&--touch {
		margin: 0;

		.mdc-radio__native-control {
			top: 0;
			right: 0;
			left: 0;
		}
	}

	.mdc-radio__native-control:enabled {
		&:hover,
		&:focus {
			+ .mdc-radio__background .mdc-radio__outer-circle {
				box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
			}
		}
	}

	&,
	.mdc-radio__native-control,
	.mdc-radio__background {
		height: 22px;
		width: 22px;
	}
}

.mdc-radio__outer-circle {
	transition-duration: 0.2s;
}

.mdc-radio__inner-circle {
	border-width: 11px;
}

.mdc-radio__background::before {
	display: none;
}
