@use '@vonage/vvd-style-coupling/vvd-style-coupling-variables' as sc-variables;

:host {
	--mdc-radio-unchecked-color: var(--vvd-color-unchecked);
	--mdc-radio-disabled-color: var(--vvd-color-disabled-unchecked);
}

.mdc-radio {
	padding: 0;

	.mdc-radio__native-control:enabled {
		&:hover,
		&:focus {
			+ .mdc-radio__background .mdc-radio__outer-circle {
				border-color: var(--vvd-color-base-foreground);
			}
		}
	}

	&,
	.mdc-radio__native-control,
	.mdc-radio__background {
		height: 22px;
		width: 22px;
	}

	&--disabled {
		.mdc-radio__outer-circle {
			background-color: var(#{sc-variables.$formfield-disabled-fill});
		}
	}
}

.mdc-radio__outer-circle {
	transition-duration: 0.2s;
}

.mdc-radio__inner-circle {
	border-width: 11px;
}

.mdc-radio__ripple,
.mdc-radio__background:before  {
	display: none;
}
