@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables' as scheme-variables;
@use 'partials/vwc-popup-variables' as popup-variables;
@use '@vonage/vvd-typography/scss/typography' as typography;

:host {
	//z-index: 7 to overcome the 6 of the vwc-side-drawer
	//TODO: to check z-index of vwc-top-app-bar and other components.
	z-index: 7;
}

.popup {
	@include typography.typography-cat-shorthand(body-1);
	position: absolute;
	display: none;
	align-items: center;
	padding: 5px;
	background: var(#{scheme-variables.$vvd-color-canvas});
	border-radius: 6px;
	color: var(#{scheme-variables.$vvd-color-on-canvas});
	contain: layout;
	filter: var(--vvd-shadow-surface-2dp);

	&-open {
		display: inline-grid;
	}

	&-dismissible {
		align-content: start;
		grid-template-columns: 1fr auto;
	}
	&-dismissible-button {
		align-self: flex-start;
	}
}

.popup-arrow {
	position: absolute;
	width: 8px;
	height: 8px;
	background: inherit;
	transform: rotate(45deg);
}
