@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables' as scheme-variables;
@use 'partials/vwc-popup-variables' as popup-variables;

:host {
	//z-index: 7 to overcome the 6 of the vwc-side-drawer
	//TODO: to check z-index of vwc-top-app-bar and other components.
	z-index: 7;
}

.popup {
	position: absolute; // element must have position: absolute already applied before computePosition() is called, so that its dimensions are read correctly.
	display: none;
	background-color: var(#{scheme-variables.$vvd-color-canvas});
	border-radius: 6px;
	color: var(#{scheme-variables.$vvd-color-on-canvas});
	contain: layout;
	filter: var(--vvd-shadow-surface-2dp);

	&-open {
		display: inline-grid;
	}

	&-dismissible {
		align-content: start;
		align-items: flex-start;
		grid-template-columns: 1fr auto;
	}
	&-dismissible-button {
		align-self: flex-start;
		margin: 0.125rem;
	}
}


.popup-arrow {
	visibility: hidden;
	&::before {
		z-index: -1;
		content: '';
		transform: rotate(45deg);
		visibility: visible;

	}
}
.popup-arrow,
.popup-arrow::before {
	$arrow-size: 8px;
	position: absolute;
	width: $arrow-size;
	height: $arrow-size;
	background: inherit;
}

$tail-position: (
	top: bottom,
	bottom: top,
	left: right,
	right: left,
);

@each $key, $value in $tail-position {
	.popup-arrow[data-placement^=#{$key}] {
		#{$value}: -4px;
	}
}
