@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables';

.swiper-nav {
	display: flex;
	overflow: hidden;
	box-sizing: border-box;
	flex: 0 0 29px;
	align-items: center;
	justify-content: center;
	border: 1px solid var(#{scheme-variables.$vvd-color-contrast-dim});
	background-color: var(#{scheme-variables.$vvd-color-base});
	cursor: pointer;
	fill: var(#{scheme-variables.$vvd-color-on-base});
	outline: none;

	@media (prefers-reduced-motion: no-preference) {
		transition: fill 0.2s;
	}
}

.swiper-nav:hover {
	fill: #9b9da3;
}

.swiper-button-prev {
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
}
.swiper-button-next {
	border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
}
