.swiper-nav {
	flex: 0 0 29px;
	display: flex;
	align-items: center;
	justify-content: center;
	fill: var(--vvd-color-base-foreground);
	background-color: var(--vvd-color-base-background);
	border: 1px solid var(--vvd-color-base-dim);
	box-sizing: border-box;
	overflow: hidden;
	outline: none;
	cursor: pointer;
	transition: fill 0.2s;
}

.swiper-nav:hover {
	fill: #9b9da3;
}

.swiper-button-prev {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.swiper-button-next {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}