@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables';

/* stylelint-disable-next-line scss/dollar-variable-pattern -- (used in swiper lib) */
// $themeColor: var(#{scheme-variables.$vvd-color-on-base}) !default;

@forward 'swiper/swiper';
//IMPORT_COMPONENTS
@forward 'swiper/components/a11y/a11y';
@forward 'swiper/components/controller/controller';
// @forward 'swiper/components/navigation/navigation' hide $themeColor, $colors;
// @forward 'swiper/components/pagination/pagination' hide $themeColor, $colors;

@forward 'vwc-carousel-navigation';
@forward 'vwc-carousel-pagination';

vwc-carousel {
	display: inline-flex;
	width: 300px;
	height: 200px;
	flex-direction: column;
	outline: none;
	user-select: none;
}

.upper-pane {
	position: relative;
	display: flex;
	overflow: hidden;
	flex: 1;
	flex-direction: row;
	border-radius: 6px;
}

vwc-carousel:focus-within,
vwc-casousel:active {
	.upper-pane {
		box-shadow: 0 0 5px 1px #e1e2e6;
	}
}

.lower-pane {
	display: flex;
	overflow: hidden;
	flex: 0 0 15px;
	align-items: flex-end;
	justify-content: center;
}

.swiper-container {
	flex: 1;
}

.swiper-slide {
	display: flex;
	overflow: hidden;
	contain: strict;
}
