@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables';

@forward 'swiper/swiper';

@forward 'vwc-carousel-navigation';
@forward 'vwc-carousel-pagination';

:host {
	display: inline-flex;
	width: 300px;
	height: 200px;
	flex-direction: column;
	outline: none;
	user-select: none;
}

.upper-pane {
	position: relative;
	display: flex;
	overflow: hidden;
	flex: 1;
	flex-direction: row;
	border-radius: 6px;
}

:host(:focus-within),
:host(:active) {
	.upper-pane {
		box-shadow: 0 0 5px 1px #e1e2e6;
	}
}

.lower-pane {
	display: flex;
	overflow: hidden;
	flex: 0 0 15px;
	align-items: flex-end;
	justify-content: center;
}

.swiper-container {
	flex: 1;
}

.swiper-slide {
	display: flex;
	overflow: hidden;
	contain: strict;
}
