@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables';

.swiper-pagination-bullet {
	display: inline-block;
	width: 24px;
	height: 3px;
	outline: none;
	margin: 0 3px;
	border-radius: 0;
	font-size: 0;
  background-color: var(#{scheme-variables.$vvd-color-contrast-neutral});
	transition: transform 0.1s;
	cursor: pointer;

	&-active {
		background-color: var(#{scheme-variables.$vvd-color-on-base});
	}
}