@use 'partials/vwc-card-variables' as card-variables;
@use '@vonage/vvd-typography/scss/typography' as typography;
@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables' as scheme-variables;

.vwc-card {
	display: flex;
	overflow: hidden;
	height: inherit;
	flex-flow: column;
	block-size: inherit;
	border-radius: 6px;
	color: var(#{scheme-variables.$vvd-color-on-canvas});

	&-content {
		display: flex;
		flex-flow: column;
		padding: 1.5rem;
	}

	&-header {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 0.5rem;

		:host([text]) & {
			margin-bottom: 12px;
		}

		&-content {
			display: inline-flex;
		}
	}

	&-title,
	&-subtitle {
		/* stylelint-disable property-no-vendor-prefix */
		/* stylelint-disable value-no-vendor-prefix */
		display: -webkit-box;
		overflow: hidden;
		-webkit-box-orient: vertical;
		/* stylelint-enable property-no-vendor-prefix */
		/* stylelint-enable value-no-vendor-prefix */
	}

	&-title {
		@include typography.typography-cat-shorthand('subtitle-2');
		-webkit-line-clamp: var(#{card-variables.$title-line-clamp});
	}

	&-subtitle {
		-webkit-line-clamp: var(#{card-variables.$subtitle-line-clamp});
	}

	&-subtitle,
	&-text {
		@include typography.typography-cat-shorthand('body-2');
		color: var(#{scheme-variables.$vvd-color-neutral-70});
	}

	&-text {
		padding-right: 0.5rem;
	}

	&-footer {
		display: inline-flex;
		flex-direction: column;
		align-items: flex-end;
		padding-bottom: 1.5rem;
		margin-top: auto;
		padding-inline: 1.5rem;
	}
}

::slotted([slot="graphic"i]),
.icon {
	flex-shrink: 0;
	align-self: baseline;
	margin: 4px 10px 0 0;
}

.icon {
	width: 20px;
	height: 20px;
}

::slotted([slot="meta"i]) {
	flex-shrink: 0;
	align-self: flex-start;
	margin-block-start: -0.5rem;
	margin-inline-end: -0.5rem;
}

.no-content {
	display: none;
}

vwc-elevation {
	height: inherit;
	&::part(base) {
		height: inherit;
		slot {
			height: inherit;
		}
	}
}


