@use '@vonage/vvd-typography/scss/typography' as typography;
@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables' as scheme-variables;

.vwc-card {
	display: flex;
	overflow: hidden;
	flex-flow: column;
	background-color: var(#{scheme-variables.$vvd-color-canvas});
	border-radius: 6px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05), 0 8px 8px rgba(0, 0, 0, 0.05), 0 2px 16px rgba(0, 0, 0, 0.1);
	color: var(#{scheme-variables.$vvd-color-on-canvas});

	&-info {
		display: flex;
		flex-flow: column;
		padding: 24px;
	}

	&-header {
		display: flex;
	}

	&-title,
	&-subtitle {
		/* stylelint-disable property-no-vendor-prefix */
		/* stylelint-disable value-no-vendor-prefix */
		display: -webkit-box;
		overflow: hidden;
		-webkit-box-orient: vertical;
		/* stylelint-enable property-no-vendor-prefix */
		/* stylelint-enable value-no-vendor-prefix */
	}

	&-title {
		margin-bottom: 4px;
		-webkit-line-clamp: var(--title-line-trim);
	}

	&-subtitle {
		-webkit-line-clamp: var(--subtitle-line-trim);
	}

	&-subtitle,
	&-supportText {
		@include typography.typography-cat-shorthand('body-2');
		color: var(#{scheme-variables.$vvd-color-neutral-70});
	}

	&-actions {
		display: inline-flex;
		flex-direction: column;
		align-items: flex-end;
		margin-top: 16px;
	}
}

header {
	display: inline-flex;
	flex-direction: column;
	align-content: space-between;

	:host([supporting-text]) & {
		margin-bottom: 12px;
	}
}

::slotted([slot="graphics"i]),
.header-icon {
	flex-shrink: 0;
	align-self: baseline;
	margin: 4px 10px 0 0;
}

.header-icon {
	width: 20px;
	height: 20px;
}

.no-content {
	display: none;
}



