@use '@vonage/vvd-typography/scss/typography' as typography;
@use '../../../utils/scss/variable-names/color-semantic-variable-names' as color-semantic;

:host {
	--mdc-select-filled-border-radius: 6px;
  --mdc-theme-primary: var(--vvd-color-alternate-primary-background);
  --mdc-select-ink-color: var(--mdc-theme-primary);
  --mdc-select-label-ink-color: var(#{color-semantic.$formfield-label-idle-ink});
	--mdc-select-disabled-ink-color: var(#{color-semantic.$formfield-disabled-ink});
	--mdc-select-disabled-fill-color: var(#{color-semantic.$formfield-disabled-fill});


  --mdc-select-dropdown-icon-color: var(--mdc-select-ink-color);
  --mdc-select-focused-dropdown-icon-color: var(--mdc-select-ink-color);
  --mdc-select-disabled-dropdown-icon-color: var(--mdc-select-disabled-ink-color);

  --mdc-select-outlined-idle-border-color: var(#{color-semantic.$formfield-border-idle});
  --mdc-select-outlined-hover-border-color: var(#{color-semantic.$formfield-border-hover});
  --mdc-select-outlined-disabled-border-color: var(#{color-semantic.$formfield-border-disabled});

	--mdc-select-error-color: var(#{color-semantic.$formfield-label-error-ink});
	--mdc-select-error-fill-color: var(#{color-semantic.$formfield-error-fill});
	--mdc-select-error-dropdown-icon-color: var(--mdc-select-error-color);

	@include typography.typography-mdc-coupling('subtitle1', 'body-2');
	font-stretch: var(--mdc-typography-subtitle1-font-stretch); // ! this was supposed to be set by MDC

	--vvd-outline-color: var(--mdc-select-outlined-idle-border-color);
}

:host(:not([disabled])) .mdc-select.mdc-select--focused:not(.mdc-select--invalid) {
  .mdc-floating-label {
    color: var(--mdc-select-label-ink-color);
  }
}

:host([disabled]) .mdc-select {
	--vvd-outline-color: var(--mdc-select-outlined-disabled-border-color);
	background-color: var(--mdc-select-disabled-fill-color);

	.mdc-select__selected-text {
		color: var(--mdc-select-disabled-ink-color);
	}

	.mdc-notched-outline {
		.mdc-floating-label--float-above {
			--mdc-theme-primary: var(--mdc-select-label-ink-color);
		}
	}
}

:host(:not([disabled])) .mdc-select.mdc-select--focused mwc-notched-outline {
  --mdc-notched-outline-stroke-width: 1px;
}

.mdc-select {
	border-radius: 6px;

	.mdc-select__dropdown-icon {
		transition: transform 200ms;
	}

	&.mdc-select--activated .mdc-select__dropdown-icon {
		transform: rotateX(180deg);
	}

  &--outlined {
    .mdc-select__anchor {
      height: 48px;
      padding-left: 14px;

      .mdc-select__selected-text {
        font-size: var(--mdc-typography-subtitle2-font-size, 0.875rem);
        padding: 22px 0 6px;
      }

      .mdc-floating-label {
        left: 2px;
        padding-right: 8px;
        transition: transform 0.15s, font-size 0.15s;
      }

      .mdc-floating-label--float-above {
        color: var(--mdc-select-label-ink-color);
        transform: translateY(-100%);
      }
    }

		+ .mdc-select-helper-text {
			@include typography.typography-mdc-coupling('caption', 'caption');
			font-stretch: var(--mdc-typography-caption-font-stretch); // ! this was supposed to be set by MDC
		}
  }

  :host(:hover) &,
  &:hover,
  &--focused {
		--vvd-outline-color: var(--mdc-select-outlined-hover-border-color);

		&.mdc-select--invalid {
			--vvd-outline-color: var(--mdc-select-error-color);
		}
  }

  &--invalid {
		--vvd-outline-color: var(--mdc-select-error-color);

    &.mdc-select--outlined {
			background-color: var(--mdc-select-error-fill-color);

			.mdc-floating-label {
				color: var(--mdc-select-error-color);
			}
    }
	}

}

.mdc-select--invalid:not(.mdc-select--disabled).mdc-select--invalid + .mdc-select-helper-text--validation-msg {
	color: var(--mdc-select-error-color);
}
