@forward './vwc-select-coupling';
@use '@vonage/vvd-foundation/scss/variable-names/color-semantic-variable-names' as color-semantic;

$vvd-select-size-block: --vvd-select-size-block;

:host {
  --mdc-theme-primary: var(--vvd-color-alternate-primary-background);
  --mdc-select-fill-color: var(--vvd-color-surface-background);
  --mdc-select-ink-color: var(--mdc-theme-primary);
  --mdc-select-label-ink-color: var(#{color-semantic.$formfield-label-idle-ink});
	--mdc-select-disabled-ink-color: var(#{color-semantic.$formfield-disabled-ink});
	--mdc-select-disabled-fill-color: var(#{color-semantic.$formfield-disabled-fill});

  --mdc-select-dropdown-icon-color: var(--mdc-select-ink-color);
  --mdc-select-focused-dropdown-icon-color: var(--mdc-select-ink-color);
  --mdc-select-disabled-dropdown-icon-color: var(--mdc-select-disabled-ink-color);

  --mdc-select-outlined-idle-border-color: var(#{color-semantic.$formfield-border-idle});
  --mdc-select-outlined-hover-border-color: var(#{color-semantic.$formfield-border-hover});
  --mdc-select-outlined-disabled-border-color: var(#{color-semantic.$formfield-border-disabled});

	--mdc-select-error-color: var(#{color-semantic.$formfield-label-error-ink});
	--mdc-select-error-fill-color: var(#{color-semantic.$formfield-error-fill});
	--mdc-select-error-dropdown-icon-color: var(--mdc-select-error-color);

	display: inline-flex;
	flex-direction: column;
	font-stretch: var(--mdc-typography-subtitle1-font-stretch); // ! this was supposed to be set by MDC
}

:host(:not([disabled])) .mdc-select.mdc-select--focused:not(.mdc-select--invalid) {
  .mdc-floating-label {
    color: var(--mdc-select-label-ink-color);
  }
}

:host([disabled]) .mdc-select {
  vwc-notched-outline {
    --mdc-notched-outline-border-color: var(--mdc-select-outlined-disabled-border-color);
  }

	background-color: var(--mdc-select-disabled-fill-color);

	.mdc-select__selected-text {
		color: var(--mdc-select-disabled-ink-color);
	}

	.mdc-notched-outline {
		.mdc-floating-label--float-above {
			--mdc-theme-primary: var(--mdc-select-label-ink-color);
		}
	}
}

:host([shape='pill']) {
  --mdc-shape-small: 24px;
}

:host(:not([shape='pill'])) {
  --mdc-shape-small: 6px;
}

:host(:not([shape='pill'])[dense]) {
  --mdc-shape-small: 5px;
}

:host([dense]) {
  #{$vvd-select-size-block}: 40px;
}

:host(:not([dense])) {
  #{$vvd-select-size-block}: 48px;

  .mdc-select__selected-text {
    padding: 22px 0 6px;
  }
}

:host([dense][label]:not([label=''])) {
  padding-top: 24px;

  .mdc-select {
    .mdc-floating-label {
      font-size: 0.875rem;
      left: -12px;
      top: -24px;
      transform: none;
    }

    .mdc-floating-label,
    &--invalid.mdc-select--outlined .mdc-floating-label,
    &:not(.mdc-select--invalid):not(.mdc-select--focused) .mdc-floating-label,
    &:not(.mdc-select--invalid).mdc-select--focused .mdc-floating-label {
      color: var(--mdc-select-ink-color);
    }
  }
}

.mdc-select {
  border-radius: var(--mdc-shape-small);

	.mdc-select__dropdown-icon {
		transition: transform 200ms;
	}

	&.mdc-select--activated .mdc-select__dropdown-icon {
		transform: rotateX(180deg);
	}

  &--outlined {
    background-color: var(--mdc-select-fill-color);

    .mdc-select__anchor {
      height: var(#{$vvd-select-size-block});
      padding-left: 14px;

      .mdc-select__selected-text {
        font-size: var(--mdc-typography-subtitle2-font-size, 0.875rem);
      }

      .mdc-floating-label {
        left: 2px;
        padding-right: 8px;
        transition: transform 0.15s, font-size 0.15s;
      }

      .mdc-floating-label--float-above {
        color: var(--mdc-select-label-ink-color);
        transform: translateY(-100%);
      }
    }
  }

  &--invalid {
    &.mdc-select--outlined {
      vwc-notched-outline {
        --mdc-notched-outline-border-color: var(--mdc-select-error-color);
      }

			background-color: var(--mdc-select-error-fill-color);

			.mdc-floating-label {
				color: var(--mdc-select-error-color);
			}
    }
	}
}

// .mdc-select-helper-text {
// 	margin: 0 14px;
// }

// .mdc-select--invalid:not(.mdc-select--disabled).mdc-select--invalid + .mdc-select-helper-text--validation-msg {
// 	color: var(--mdc-select-error-color);
// }

vwc-notched-outline {
  --mdc-notched-outline-border-color: var(--mdc-select-outlined-idle-border-color);
}

:host(:not([disabled])) .mdc-select.mdc-select--focused vwc-notched-outline,
:host(:not([disabled]):hover) .mdc-select:not(.mdc-select--invalid):not(.mdc-select--focused) vwc-notched-outline {
  --mdc-notched-outline-border-color: var(--mdc-select-outlined-hover-border-color);
}

// helper / error message line
.mdc-select {
	& + .mdc-select-helper-line {
		--mdc-theme-error: var(--mdc-select-ink-color);
		display: flex;
		margin-top: 7px;
		padding: 0;
		align-items: center;
		justify-content: initial;
		cursor: default;

		.mdc-select-helper-icon {
			display: none;
			color: var(--mdc-select-error-color);
		}

		.mdc-select-helper-text {
			margin: 0;
			opacity: 1;
		}

		.mdc-select-helper-text::before {
			display: inline;
		}

		.spacer {
			flex-basis: 14px;
		}
	}

	&.mdc-select--invalid + .mdc-select-helper-line {
		.mdc-select-helper-icon {
			display: flex;
		}

		.spacer {
			flex-basis: 6px;
		}
	}
}
