.mdc-notched-outline .mdc-notched-outline__leading {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.mdc-notched-outline .mdc-notched-outline__trailing {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}