@forward './vwc-select-coupling';
@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/_scheme-variables' as scheme-variables;
@use '@vonage/vvd-foundation/scss/variable-names/color-semantic-variable-names' as color-semantic;
@use '@vonage/vvd-foundation/scss/mixins/shape-mixins' with (
	//! may consider replacing with own component variable to prevent delegation
	$variable-name: --mdc-shape-small
);

$vvd-select-size-block: --vvd-select-size-block;

:host {
	--mdc-select-fill-color: var(#{scheme-variables.$vvd-color-base});
	--mdc-select-ink-color: var(#{scheme-variables.$vvd-color-on-base});
	--mdc-select-label-ink-color: var(#{color-semantic.$formfield-label-idle-ink});
	--mdc-select-disabled-ink-color: var(
		#{color-semantic.$formfield-disabled-ink}
	);
	--mdc-select-disabled-fill-color: var(
		#{color-semantic.$formfield-disabled-fill}
	);

	--mdc-select-dropdown-icon-color: var(--mdc-select-ink-color);
	--mdc-select-focused-dropdown-icon-color: var(--mdc-select-ink-color);
	--mdc-select-disabled-dropdown-icon-color: var(
		--mdc-select-disabled-ink-color
	);

	--mdc-select-outlined-idle-border-color: var(
		#{color-semantic.$formfield-border-idle}
	);
	--mdc-select-outlined-hover-border-color: var(
		#{color-semantic.$formfield-border-hover}
	);
	--mdc-select-outlined-disabled-border-color: var(
		#{color-semantic.$formfield-border-disabled}
	);

	--mdc-select-error-color: var(#{color-semantic.$formfield-label-error-ink});
	--mdc-select-error-fill-color: var(#{color-semantic.$formfield-error-fill});
	--mdc-select-error-dropdown-icon-color: var(--mdc-select-error-color);

	--mdc-shape-small: var(--border-radius);

	display: inline-flex;
	flex-direction: column;
	font-stretch: var(
		--mdc-typography-subtitle1-font-stretch
	); // ! this was supposed to be set by MDC

	.mdc-select__selected-text {
		padding: 22px 0 6px;
	}

	#{$vvd-select-size-block}: 48px;
}

:host(:not([disabled]))
.mdc-select.mdc-select--focused:not(.mdc-select--invalid) {
	.mdc-floating-label {
		color: var(--mdc-select-label-ink-color);
	}
}

:host([disabled]) .mdc-select {
	background-color: var(--mdc-select-disabled-fill-color);
	vwc-notched-outline {
		--mdc-notched-outline-border-color: var(
			--mdc-select-outlined-disabled-border-color
		);
	}

	.mdc-select__selected-text {
		color: var(--mdc-select-disabled-ink-color);
	}

	.mdc-notched-outline {
		.mdc-floating-label--float-above {
			--mdc-theme-primary: var(--mdc-select-label-ink-color);
		}
	}
}

:host([dense]) {
	padding-top: 24px;

	.mdc-select__selected-text {
		padding: 0;
	}

	.mdc-select {
		.mdc-floating-label {
			top: -24px;
			left: -12px;
			transform: none;
		}

		.mdc-floating-label,
		&--invalid.mdc-select--outlined .mdc-floating-label,
		&:not(.mdc-select--invalid):not(.mdc-select--focused) .mdc-floating-label,
		&:not(.mdc-select--invalid).mdc-select--focused .mdc-floating-label {
			color: var(--mdc-select-ink-color);
		}
	}
	#{$vvd-select-size-block}: 40px;
}

.mdc-select {
	// prevent fill overflowing corners
	border-radius: var(--mdc-shape-small);
	@media screen and (prefers-reduced-motion: reduce) {
		.mdc-select__dropdown-icon {
			transition: none;
		}
	}

	.mdc-select__dropdown-icon {
		transition: transform 200ms;
	}

	&.mdc-select--activated .mdc-select__dropdown-icon {
		transform: rotateX(180deg);
	}

	&--outlined {
		background-color: var(--mdc-select-fill-color);

		.mdc-select__anchor {
			height: var(#{$vvd-select-size-block});
			padding-inline-start: 16px;
			@media screen and (prefers-reduced-motion: reduce) {
				.mdc-floating-label {
					padding-right: 8px;
					line-height: var(--mdc-typography-subtitle1-line-height);
					transition: none;
				}
			}

			.mdc-floating-label {
				padding-right: 8px;
				line-height: var(--mdc-typography-subtitle1-line-height);
				transition: transform 0.15s, font-size 0.15s;
			}

			.mdc-floating-label--float-above {
				color: var(--mdc-select-label-ink-color);
				font-size: var(--mdc-typography-subtitle1-font-size);
				transform: translateY(-100%);
			}
		}
	}

	&--invalid {
		&.mdc-select--outlined {
			background-color: var(--mdc-select-error-fill-color);
			vwc-notched-outline {
				--mdc-notched-outline-border-color: var(--mdc-select-error-color);
			}

			.mdc-floating-label {
				color: var(--mdc-select-error-color);
			}
		}
	}
}

vwc-notched-outline {
	--mdc-notched-outline-border-color: var(
		--mdc-select-outlined-idle-border-color
	);
}

:host(:not([disabled])) .mdc-select.mdc-select--focused vwc-notched-outline,
:host(:not([disabled]):hover)
.mdc-select:not(.mdc-select--invalid):not(.mdc-select--focused)
vwc-notched-outline {
	--mdc-notched-outline-border-color: var(
		--mdc-select-outlined-hover-border-color
	);
}

@include shape-mixins.shape(
	$shapes: (
		rounded: 6px,
		pill: 24px,
	)
);
