@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables';
@use '@vonage/vvd-foundation/scss/mixins/connotation/variables' as connotation-variables;


:host([noseek]) {
	.main {
		> .scrubber {
			display: none;
		}
	}
}

:host {

	$button-size: 16px;
	*:focus:not(:focus-visible) {
		outline: none;
	}

	:focus-visible {
		outline: var(#{scheme-variables.$vvd-color-on-canvas}) solid 2px;
	}

	.main {
		display: flex;
		align-items: center;
		justify-content: flex-start;

		> .control-button {

			border: 0;
			background-color: transparent;
			cursor: pointer;


			> .icon {
				color: var(#{connotation-variables.$vvd-color-connotation});
			}

		}

		> .scrubber {
			flex: 1 0;
			margin-inline-start: 4px;
		}
	}
}
