$chip-set-gap-size: 4px 8px 4px 0;
$color-animation-duration: 0.2s;

$font-size: (
	small: 11px,
	default: 12px,
	large: 13px,
);

$height: (
	small: 18px,
	default: 26px,
	large: 30px,
);

$horizontal-padding: (
	small: 8px,
	default: 12px,
	large: 14px,
);

$shape-radius: (
	default: 4px,
	pill: 50%,
);

$trailing-icon-margin-left: 10px;
$trailing-icon-margin-right: 0;
$trailing-icon-opacity: 1;
$trailing-icon-opacity-hover: 0.6;
$trailing-icon-size: 14px;
$transparent-background-opacity: 0.2;
