$font-size: (
  small: 11px,
  default: 12px,
  large: 13px
);

$font-weight: 600;

$height: (
  small: 18px,
  default: 26px,
  large: 30px
);

$horizontal-padding: (
  small: 8px,
  default: 12px,
  large: 14px
);

$shape-radius: (
  default: 4px,
  pill: 50%
);

$trailing-icon-margin: 16px;
$trailing-icon-size: 10px;
