@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables';
@use '@vonage/vvd-typography/scss/typography' as typography;
@use '@material/chips';
@use './variables';

.mdc-chip {
	@include chips.fill-color(var(#{scheme-variables.$vvd-color-neutral-40}));
	@include chips.trailing-icon-color(
		var(#{scheme-variables.$vvd-color-on-base}),
		variables.$trailing-icon-opacity,
		variables.$trailing-icon-opacity-hover
	);
	@include chips.height(map-get(variables.$height, default));
	@include chips.horizontal-padding(
		map-get(variables.$horizontal-padding, default)
	);
	@include chips.shape-radius(map-get(variables.$shape-radius, default));
	@include chips.trailing-icon-margin(variables.$trailing-icon-margin-left);
	@include chips.trailing-icon-size(variables.$trailing-icon-size);
	@include typography.typography-cat-shorthand('body-2-bold');
	color: var(#{scheme-variables.$vvd-color-on-base});

	cursor: auto;
	font-size: map-get(variables.$font-size, default);

	// vwc-icon
	.leading {
		margin: 0 5px 0 0;
		vertical-align: middle;
	}

	// vwc-icon
	.trailing {
		margin-top: -1px;
	}

	:host([type='filter']) & {
		cursor: pointer;
	}

	.mdc-chip__ripple {
		display: none;
	}
	@media screen and (prefers-reduced-motion: reduce) {
		.mdc-chip__icon--trailing {
			cursor: pointer;
			transition: none;
		}
	}

	.mdc-chip__icon--trailing {
		cursor: pointer;
		transition: color variables.$color-animation-duration linear;
	}
}
