@use '@material/chips';
@use './variables';

//TODO: move out hex/rgb codes
:host {
  --mdc-theme-primary: #871fff;
  --mdc-theme-primary-rgb: 135, 31, 255;
  --mdc-theme-on-primary: #fff;
}

:host(.black) {
  --mdc-theme-primary: #131415;
  --mdc-theme-primary-rgb: 19, 20, 21;
}

:host(.blue) {
  --mdc-theme-primary: #669fc4;
  --mdc-theme-primary-rgb: 102, 159, 196;
}

:host(.green) {
  --mdc-theme-primary: #06ba77;
  --mdc-theme-primary-rgb: 6, 186, 119;
}

:host(.indigo) {
  --mdc-theme-primary: #d6219c;
  --mdc-theme-primary-rgb: 214, 33, 156;
}

:host(.orange) {
  --mdc-theme-primary: #fa7454;
  --mdc-theme-primary-rgb: 250, 116, 84;
}

:host(.purple) {
  --mdc-theme-primary: #871fff;
  --mdc-theme-primary-rgba: 135, 31, 255;
}

:host(.red) {
  --mdc-theme-primary: #e84545;
  --mdc-theme-primary-rgb: 232, 69, 69;
}

:host(.yellow) {
  --mdc-theme-primary: #ffc100;
  --mdc-theme-primary-rgb: 255, 193, 0;
}

.mdc-chip {
  @include chips.fill-color(var(--mdc-theme-primary));
  @include chips.ink-color(on-primary);
  @include chips.leading-icon-color(var(--mdc-theme-on-primary));
  @include chips.trailing-icon-color(var(--mdc-theme-on-primary), 1);
  @include chips.height(map-get(variables.$height, default));
  @include chips.horizontal-padding(map-get(variables.$horizontal-padding, default));
  @include chips.shape-radius(map-get(variables.$shape-radius, default));
  @include chips.trailing-icon-margin(variables.$trailing-icon-margin);
  @include chips.trailing-icon-size(variables.$trailing-icon-size);
  font-size: map-get(variables.$font-size, default);
  font-weight: variables.$font-weight;
}

:host(.small) {
  .mdc-chip {
    @include chips.height(map-get(variables.$height, small));
    @include chips.horizontal-padding(map-get(variables.$horizontal-padding, small));
    font-size: map-get(variables.$font-size, small);
  }
}

:host(.large) {
  .mdc-chip {
    @include chips.height(map-get(variables.$height, large));
    @include chips.horizontal-padding(map-get(variables.$horizontal-padding, large));
    font-size: map-get(variables.$font-size, large);
  }
}

:host(.outline) {
  .mdc-chip {
    @include chips.fill-color(transparent);
    @include chips.ink-color(primary);
    @include chips.outline(1px, solid, primary);
    @include chips.trailing-icon-color(var(--mdc-theme-on-primary), 1);
  }
}

:host(.pill) {
  .mdc-chip {
    @include chips.shape-radius(map-get(variables.$shape-radius, pill));
  }
}

:host(.transparent) {
  .mdc-chip {
    background-color: rgba(var(--mdc-theme-primary-rgb), 0.2);
    @include chips.ink-color(primary);
    @include chips.trailing-icon-color(var(--mdc-theme-on-primary), 1);
  }
}
