@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables' as scheme-variables;
@use '@vonage/vvd-typography/scss/typography' as typography;
@use '@vonage/vvd-foundation/scss/mixins/color-connotation' as color-connotation with (
	$connotations-set: cta primary
);

@include color-connotation.connotations-main;
@include color-connotation.connotations-main-default(cta);

:host {

	*:focus:not(:focus-visible) {
		outline: none;
	}

	:focus-visible {
		outline: var(#{scheme-variables.$vvd-color-on-base}) solid 2px;
	}

	.root {
		@include typography.typography-cat-shorthand('caption');
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: flex-start;

		> .scrubber {
			min-width: 200px;
			flex: 1 0;
		}

		> .control-button {
			flex: 0 0 auto;
			border: 0;
			background-color: transparent;
			cursor: pointer;

			> .icon {
				color: var(--vvd-color-connotation);
			}
		}

		> .playhead-position {
			overflow: hidden;
			width: 90px;
			box-sizing: border-box;
			text-align: center;
			text-overflow: ellipsis;
			white-space: pre;
		}
	}
}
