@use 'sass:list';
@use 'sass:selector';
@use 'sass:map';

$vvd-toggle-button-group-shape: --vvd-toggle-button-group-shape;
$scopes: button icon-button;
$toggle-buttons-type-selectors: selector.append('vwc-', list.join($scopes, '', $separator: comma));

@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables' as scheme-variables;
@use '@vonage/vvd-foundation/scss/mixins/connotation' as connotation;
@use '@vonage/vvd-foundation/scss/mixins/shape-mixins' as shape-mixins with (
	$variable-name: #{$vvd-toggle-button-group-shape}
);

@include shape-mixins.shape(
	$shapes: (
		rounded: 6px,
		pill: 24px,
	)
);

$sizes: (
	'normal': 32px,
	'enlarged': 40px,
	'dense': 24px,
);


::slotted(#{vwc-button}) {
	--mdc-ripple-focus-opacity: 0;
}

.button-toggle-group {
	display: inline-flex;
	align-items: center;
	padding: 3px 2px;
	border: 1px solid var(#{scheme-variables.$vvd-color-neutral-30});
	border-radius: var(#{$vvd-toggle-button-group-shape});

	:host([shape='pill']) & {
		--vvd-shape: var(#{$vvd-toggle-button-group-shape});
	}
}

@each $scope in $scopes {
	::slotted(vwc-#{$scope}) {
		//--vvd-#{$scope}-color: var(#{scheme-variables.$vvd-color-canvas});
		//--vvd-#{$scope}-on-color: var(#{scheme-variables.$vvd-color-on-canvas});
		--vvd-#{$scope}-shape: var(#{$vvd-toggle-button-group-shape});
		margin: 0 2px;
	}

	::slotted(vwc-#{$scope}[selected]) {
		--vvd-#{$scope}-color: var(#{scheme-variables.$vvd-color-primary});
		--vvd-#{$scope}-on-color: var(#{scheme-variables.$vvd-color-on-primary});
	}

	:host {
		--vvd-#{$scope}-block-size: calc(#{map.get($sizes, 'normal')});
	}

	:host([dense]) {
		--vvd-#{$scope}-block-size: calc(#{map.get($sizes, 'dense')});
	}

	:host([enlarged]) {
		--vvd-#{$scope}-block-size: #{map.get($sizes, 'enlarged')};
	}

	:host([disabled]) ::slotted(vwc-#{$scope}),
	:host([disabled]) ::slotted(vwc-#{$scope}[selected]) {
		pointer-events: none;
	}
}


