@mixin shadow-box-combo($combo-id){
				@if($combo-id == "Shadow100"){
		box-shadow: 0px 2px 10px rgba(19, 20, 21, 0.1);
	}
	@if($combo-id == "Shadow200"){
		box-shadow: 0px 4px 20px rgba(19, 20, 21, 0.1);
	}
	@if($combo-id == "Shadow300"){
		box-shadow: 0px 10px 30px rgba(19, 20, 21, 0.1);
	}
	@if($combo-id == "Shadow400"){
		box-shadow: 0px 20px 40px rgba(19, 20, 21, 0.1);
	}
	}
$vvd-shadow100-box-shadow: 0px 2px 10px rgba(19, 20, 21, 0.1);
$vvd-shadow200-box-shadow: 0px 4px 20px rgba(19, 20, 21, 0.1);
$vvd-shadow300-box-shadow: 0px 10px 30px rgba(19, 20, 21, 0.1);
$vvd-shadow400-box-shadow: 0px 20px 40px rgba(19, 20, 21, 0.1);
