@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables';
@use '@vonage/vvd-typography/scss/typography' as typography;

:host {
	@include typography.typography-mdc-coupling('body2', 'caption-bold');
	font-stretch: var(--mdc-typography-body2-font-stretch);

	.mdc-slider__pin-value-marker {
		display: flex;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;
		background-color: var(--mdc-theme-secondary);
		border-radius: 3px;
	}

	.mdc-slider__thumb {
		transform: scale3d(0.6, 0.6, 0.6);
	}
}

// behaviours
:host(:not([disabled])) {
	.mdc-slider--focus,
	.mdc-slider__thumb-container:hover {
		.mdc-slider__focus-ring {
			opacity: 0.12;
			transform: scale3d(1.55, 1.55, 1.55);
		}

		.mdc-slider__pin {
			transform: rotate(-45deg) scale(1) translate(19px, -20px);
		}
	}

	.mdc-slider--active {
		.mdc-slider__thumb-container:hover .mdc-slider__focus-ring {
			opacity: 0.25;
			transform: scale3d(1.8, 1.8, 1.8);
		}
	}
}

.mdc-slider:not(.mdc-slider--disabled) .mdc-slider__pin {
	color: var(#{scheme-variables.$vvd-color-on-primary});
}

.mdc-slider.mdc-slider--disabled .mdc-slider__thumb {
	stroke: var(#{scheme-variables.$vvd-color-base});
}

