:host {
	/* override mwc variables */
	--mdc-theme-primary: #131415;
	--mdc-theme-on-primary: #ffffff;
	--mdc-theme-text-primary-on-background: #131415;
	--mdc-theme-secondary: #871fff;
	--mdc-theme-on-secondary: #ffffff;
	--mdc-theme-on-surface: var(--vvd-color-surface-foreground);
}
