$namespace: --vvd-chip;
$namespace-layout: #{$namespace}--layout;
$namespace-shape: #{$namespace}--shape;
$namespace-block-size: #{$namespace}--block-size;
$namespace-padding-inline: #{$namespace}--padding-inline;
$namespace-icon-checkmark--size: #{$namespace}__icon-checkmark--size;
$namespace-icon-checkmark--padding-inline-end: #{$namespace}__icon-checkmark--padding-inline-end;
