@use '@vonage/vvd-typography/scss/typography' as typography;
@use '@vonage/vvd-foundation/scss/variable-names/color-semantic-variable-names' as color-semantic;

.input-file-slot::slotted(*) {
	display: none;
}

.label {
	@include typography.typography-cat-shorthand('body-2');
}

.wrapper {
	display: flex;
	flex-direction: column;
}

.part {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.content {
	flex-basis: 100px;
	justify-content: space-evenly;
	border: 1px dashed #cccccc;
	border-radius: 6px;
	box-sizing: border-box;
}

.dd-hint {
	@include typography.typography-cat-shorthand('body-2');
}
[name="dd-hint"]::slotted(*:empty) {
	display: none;
}

//	footer
.footer {
	cursor: default;

	.error-icon {
		display: none;
		color: var(#{color-semantic.$formfield-label-error-ink});
	}

	.spacer {
		flex-basis: 14px;
	}

	.helper {
		@include typography.typography-cat-shorthand('caption');
		color: #666666;
	}
}

.invalid .footer {
	.error-icon {
		display: flex;
	}

	.spacer {
		flex-basis: 6px;
	}
}