@use '@vonage/vvd-typography/scss/typography' as typography;

.input-file-slot::slotted(*) {
	display: none;
}

.label {
	@include typography.typography-cat-shorthand('body-2');
}

.wrapper {
	display: flex;
	flex-direction: column;
}

.part {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.content {
	flex-basis: 100px;
	justify-content: space-evenly;
	border: 1px dashed #cccccc;
	border-radius: 6px;
	box-sizing: border-box;
}

.dd-hint {
	@include typography.typography-cat-shorthand('body-2');
}

.helper {
	@include typography.typography-cat-shorthand('caption');
	color: #666666;

	.spacer {
		flex-basis: 20px;
	}
}