:host {
  --mdc-text-field-outlined-idle-border-color: var(--vwc-outlined-idle-border-color);
  --mdc-text-field-outlined-hover-border-color: var(--vwc-outlined-hover-border-color);
  --mdc-text-field-label-ink-color: var(--vwc-label-ink-color);
  --mdc-text-field-ink-color: var(--vwc-ink-color);
}
