$horizontal-gutter: 16px;
$icon-size: 20px;
$icon-gutter: calc(#{$icon-size} + #{$horizontal-gutter} * 2);

$vvd-text-field-size-block: --vvd-text-field-size-block;
$vvd-input-selector: '.vivid-input-internal';
