@use './vwc-textfield-variables' as textfield-variables;
@use '@vonage/vvd-typography/scss/typography' as typography;
@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables' as scheme-variables;
@use '@vonage/vvd-style-coupling/scss/vvd-formfield' as vvd-formfield;

::slotted(#{textfield-variables.$vvd-input-selector}) {
	@include typography.typography-cat-shorthand('body-2');
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	box-sizing: border-box !important;

	border: unset;
	background: unset;
	block-size: 100%;
	border-radius: var(#{textfield-variables.$vvd-textfield-shape});
	color: var(#{scheme-variables.$vvd-color-on-base});
	inline-size: 100%;
	inset: 0;
	outline: unset;
}

:host([disabled]) {
	::slotted(#{textfield-variables.$vvd-input-selector}),
	::slotted(#{textfield-variables.$vvd-input-selector})::placeholder {
		color: var(#{vvd-formfield.$formfield-disabled-ink});
	}
}

// hide until resize observer sets the padding
::slotted(#{textfield-variables.$vvd-input-selector}:not([style*="padding"i])) {
	display: none;
}

::slotted(#{textfield-variables.$vvd-input-selector}:-webkit-autofill),
::slotted(#{textfield-variables.$vvd-input-selector}:-webkit-autofill:hover),
::slotted(#{textfield-variables.$vvd-input-selector}:-webkit-autofill:focus) {
	z-index: -1;
	box-shadow: 0 0 0 30px var(#{scheme-variables.$vvd-color-neutral-20}) inset;
	-webkit-text-fill-color: var(#{scheme-variables.$vvd-color-on-base});
}

:host(:not([dense])) {

	:not(.mdc-text-field--no-label) {
		::slotted(#{textfield-variables.$vvd-input-selector}) {
			padding-block-start: calc(
				var(#{textfield-variables.$vvd-textfield-size-block}) - 32px
			);
		}
	}

	::slotted(#{textfield-variables.$vvd-input-selector}) {
		transition: opacity 100ms;
	}

	::slotted(#{textfield-variables.$vvd-input-selector}:placeholder-shown:not(:focus)) {
		opacity: 0;
	}
}
