@forward './vwc-textfield-coupling';
@use '@vonage/vvd-foundation/scss/variable-names/color-semantic-variable-names' as color-semantic;

$vvd-text-field-size-block: --vvd-text-field-size-block;

:host {
  --mdc-theme-error: #{color-semantic.$formfield-label-error-ink};
  --mdc-text-field-fill-color: var(--vvd-color-surface-background);
  --mdc-text-field-ink-color: var(--vvd-color-surface-foreground);
  --mdc-text-field-label-ink-color: var(
    #{color-semantic.$formfield-label-idle-ink}
  );
  --mdc-text-field-disabled-ink-color: var(
    #{color-semantic.$formfield-disabled-ink}
  );
  --mdc-text-field-disabled-fill-color: var(
    #{color-semantic.$formfield-disabled-fill}
  );
  --mdc-text-field-outlined-idle-border-color: var(#{color-semantic.$formfield-border-idle});
  --mdc-text-field-outlined-hover-border-color: var(
    #{color-semantic.$formfield-border-hover}
  );
  --mdc-text-field-outlined-disabled-border-color: var(
    #{color-semantic.$formfield-border-disabled}
  );
  --mdc-text-field-error-color: var(
    #{color-semantic.$formfield-label-error-ink}
  );
  --mdc-text-field-error-fill-color: var(
    #{color-semantic.$formfield-error-fill}
  );
}

:host([readonly]),
:host([disabled]) {
  vwc-notched-outline {
    --mdc-notched-outline-border-color: var(--mdc-text-field-outlined-disabled-border-color);
  }

  .mdc-text-field {
    background-color: var(--mdc-text-field-disabled-fill-color);
  }
}

:host(:not([disabled])) {
  .mdc-text-field.mdc-text-field--focused {
    vwc-notched-outline {
      --mdc-notched-outline-border-color: var(--mdc-text-field-outlined-hover-border-color);
    }

    &:not(.mdc-text-field--invalid) .mdc-floating-label {
      color: var(--mdc-text-field-label-ink-color);
    }
  }
}

:host([shape='pill']) {
  --mdc-shape-small: 24px;
}

:host(:not([shape='pill'])) {
  --mdc-shape-small: 6px;
}

:host(:not([shape='pill'])[dense]) {
  --mdc-shape-small: 5px;
}

:host([dense]) {
  --mdc-text-field-label-ink-color: var(--vvd-color-base-foreground);
  #{$vvd-text-field-size-block}: 40px;
}

:host(:not([dense])) {
  #{$vvd-text-field-size-block}: 48px;

  .mdc-text-field__input {
    align-self: flex-end;
    height: 32px;
  }
}

:host([dense][label]:not([label=''])) {
  padding-top: 24px;

  .mdc-text-field {
    .mdc-floating-label {
      left: -12px;
      top: -24px;
      transform: none;
    }

    .mdc-floating-label,
    &--invalid.mdc-text-field--outlined .mdc-floating-label,
    &:not(.mdc-text-field--invalid):not(.mdc-text-field--focused) .mdc-floating-label,
    &:not(.mdc-text-field--invalid).mdc-text-field--focused .mdc-floating-label {
      color: var(--mdc-text-field-ink-color);
    }
  }
}

.mdc-text-field {
  border-bottom-right-radius: var(--mdc-shape-small);
  border-bottom-left-radius: var(--mdc-shape-small);
  height: var(#{$vvd-text-field-size-block});

  &,
  & + .mdc-text-field-helper-line {
    padding: 0 14px;
  }

  .mdc-floating-label,
  .mdc-text-field__input {
    font-stretch: var(--mdc-typography-subtitle1-font-stretch); // ! this was supposed to be set by MDC
  }

  .mdc-floating-label {
    left: 14px;
    transition-property: transform, font-size;
  }

  .mdc-floating-label--float-above {
    font-size: var(--mdc-typography-subtitle1-font-size);
    transform: translateY(-100%);

    &.mdc-floating-label--shake {
      animation: none;
    }
  }

  &--outlined {
    background-color: var(--mdc-text-field-fill-color);

    .mdc-floating-label {
      left: 2px;
    }
  }

  &--invalid {
    &.mdc-text-field--outlined {
      vwc-notched-outline {
        --mdc-notched-outline-border-color: var(--mdc-text-field-error-color);
      }

      background-color: var(--mdc-text-field-error-fill-color);

      .mdc-floating-label {
        color: var(--mdc-text-field-error-color);
      }
    }
  }

  &:not(.mdc-text-field--disabled) {
    .mdc-text-field__icon--leading {
      color: var(--mdc-text-field-ink-color);
		}
	}

	:host(:hover) &,
  &:hover,
  &--focused {
		--vvd-outline-color: var(--mdc-text-field-outlined-hover-border-color);

		&.mdc-text-field--invalid {
			--vvd-outline-color: var(--mdc-text-field-error-color);
		}
 	}

  &--invalid {
		--vvd-outline-color: var(--mdc-text-field-error-color);

    .mdc-text-field__icon--trailing {
      color: var(--mdc-text-field-label-ink-color);
    }
  }

  &--disabled {
    .mdc-text-field__icon--leading,
    .mdc-text-field__icon--trailing {
      color: var(--mdc-text-field-disabled-ink-color);
    }
  }
  
  vwc-icon {
    align-self: center;
    margin: 0 12px;
    min-height: 18px;
    min-width: 18px;
  }
}

vwc-notched-outline {
  --mdc-notched-outline-border-color: var(--mdc-text-field-outlined-idle-border-color);
}

:host(:not([disabled]):hover) :not(.mdc-text-field--invalid):not(.mdc-text-field--focused) vwc-notched-outline {
  --mdc-notched-outline-border-color: var(--mdc-text-field-outlined-hover-border-color);
}

// helper / error message line
.mdc-text-field {
	& + .mdc-text-field-helper-line {
		--mdc-theme-error: var(--mdc-text-field-ink-color);
		margin-top: 7px;
		padding: 0;
		align-items: center;
		justify-content: initial;
		cursor: default;

		.mdc-text-field-helper-icon {
			display: none;
			color: var(--mdc-text-field-error-color);
		}

		.mdc-text-field-helper-text::before {
			display: inline;
		}

		.spacer {
			flex-basis: 14px;
		}
	}

	&.mdc-text-field--invalid + .mdc-text-field-helper-line {
		.mdc-text-field-helper-icon {
			display: flex;
		}

		.spacer {
			flex-basis: 6px;
		}
	}
}
