$horizontal-gutter: 16px;
$icon-size: 20px;
$icon-gutter: calc(#{$icon-size} + #{$horizontal-gutter} * 2);

$vvd-textfield-size-block: --vvd-textfield-block-size;
$vvd-textfield-shape: --vvd-textfield-shape;
$vvd-input-selector: '.vivid-input-internal';

$padding-inline-start: --padding-inline-start;
$padding-inline-end: --padding-inline-end;
