@use 'partials/vwc-tag-variables' as tag-variables;
@use '@vonage/vwc-icon/src/partials/vwc-icon-variables' as icon-variables;
@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables' as scheme-variables;
@use '@vonage/vvd-typography/scss/typography' as typography;
@use '@vonage/vvd-foundation/scss/mixins/connotation/config' with (
	$connotations-set: primary cta,
	$shades: soft contrast,
	$default: primary,
);
@use '@vonage/vvd-foundation/scss/mixins/connotation' as connotation;
@use '@vonage/vvd-foundation/scss/mixins/shape-mixins' as shape-mixins with (
	$variable-name: #{tag-variables.$namespace-shape}
);
@use '@vonage/vvd-foundation/scss/mixins/layout/config' as layout-config with (
	$layout-set: outlined soft,
	$default: soft
);
@use '@vonage/vvd-foundation/scss/mixins/layout' as layout;


@include shape-mixins.shape(
	$shapes: (
		rounded: 4px,
		pill: 14px,
	),
	$default: pill
);

.vwc-tag {
	@include typography.typography-cat-shorthand('body-2-bold');
	@include connotation.connotation;
	@include layout.layout;
	#{tag-variables.$namespace-padding-inline}: 10px;
	#{tag-variables.$namespace-icon-checkmark--padding-inline-end}: 6px;
	#{tag-variables.$namespace-block-size}: 24px;
	#{tag-variables.$namespace-icon-checkmark--size}: 16px;
	z-index: 0;
	display: inline-flex;
	align-items: center;
	padding: 0 var(#{tag-variables.$namespace-padding-inline});
	border: 1px solid var(#{layout.$vvd-layout-color-outline});
	background-color: var(#{layout.$vvd-layout-color-fill});
	block-size: var(#{tag-variables.$namespace-block-size});
	border-radius: var(#{tag-variables.$namespace-shape});
	color: var(#{layout.$vvd-layout-color-text});

	&.layout-outlined {
		box-sizing: border-box;
		#{layout.$vvd-layout-color-text}: var(#{scheme-variables.$vvd-color-neutral-90});
		#{layout.$vvd-layout-color-outline}: var(#{scheme-variables.$vvd-color-neutral-50});
	}
}

.vwc-tag-selectable {
	position: relative;
	cursor: pointer;
	@supports (contain: content) {
		contain: content;
	}
	@supports not (contain: content) {
		overflow: hidden;
	}
	.ripple {
		--mdc-ripple-color: currentColor;
	}

	&:not(.vwc-tag--selected) {
		#{layout.$vvd-layout-color-text}: var(#{scheme-variables.$vvd-color-neutral-90});
		&.layout-filled,
		&:not(.layout-filled):not(.layout-outlined) {
			background-color: var(#{scheme-variables.$vvd-color-neutral-20});
		}
	}

	&.vwc-tag--selected {
		&.layout-outlined {
			background-color: var(#{connotation.$vvd-color-connotation}-soft);
			color: var(#{connotation.$vvd-color-connotation}-contrast);
		}
	}
}

.vwc-tag__checkmark {
	block-size: var(#{tag-variables.$namespace-icon-checkmark--size});
	margin-inline-end: 0;
	margin-inline-start: 0;
	@media (prefers-reduced-motion: no-preference) {
		transition-duration: 0.1s;
		transition-property: margin-inline-start, margin-inline-end;
	}
	.vwc-tag.vwc-tag--selected & {
		margin-inline-end: var(#{tag-variables.$namespace-icon-checkmark--padding-inline-end});
		margin-inline-start: calc(4px - var(#{tag-variables.$namespace-padding-inline}));
	}

	> .vwc-tag__icon {
		display: block;
		block-size: var(#{tag-variables.$namespace-icon-checkmark--size});
		inline-size: var(#{tag-variables.$namespace-icon-checkmark--size});
		@media (prefers-reduced-motion: no-preference) {
			transition: inline-size 0.1s;
		}

		.vwc-tag:not(.vwc-tag--selected) & {
			inline-size: 0;
		}
	}
}

// disable connotation if not selected
// .vwc-tag:not(.vwc-tag--selected) {
// 	:host([connotation="cta"i]) & {
// 		--vvd-color-connotation: unset;
// 		--vvd-color-on-connotation: unset;
// 	}
// }

