/* VARIABLES */
$tab-icon-size-variable-name: --vvd-tab-icon-size;
/*************/

@use '@vonage/vwc-icon/src/vwc-icon-variables' as icon-variables;
@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables';
@forward './vwc-tab-coupling';

:host {
	--mdc-tab-height: 48px;
	--mdc-tab-horizontal-padding: 16px;
	--mdc-tab-text-label-color-default: var(#{scheme-variables.$vvd-color-neutral-70});
	flex: initial;
}

:host([block]) {
	flex: 1;
}

.mdc-tab {
	min-width: auto;
	font-stretch: var(--mdc-typography-subtitle1-font-stretch); // ! this was supposed to be set by MDC
}

vwc-icon {
	#{icon-variables.$icon-size-variable-name}: var(#{$tab-icon-size-variable-name}, 20px);
	color: var(--mdc-tab-text-label-color-default);
}

:host([active]) {
	vwc-icon {
		color: var(--mdc-theme-primary);
	}
}

:host([label]:not([stacked])) {
	.leading-icon vwc-icon {
		margin-inline-end: 12px;
	}

	.trailing-icon vwc-icon {
		margin-inline-start: 12px;
	}
}

:host([icon]:not([label])) {
	.mdc-tab {
		min-width: auto;
	}
}

:host([disabled]) {
	--mdc-theme-primary: var(#{scheme-variables.$vvd-color-neutral-30});
	--mdc-tab-text-label-color-default: var(#{scheme-variables.$vvd-color-neutral-30});
	pointer-events: none;

	vwc-icon {
		color: var(#{scheme-variables.$vvd-color-neutral-30});
	}
}
