@forward './vwc-tab-coupling';
@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables';

:host {
	--mdc-tab-height: 44px;
	--mdc-tab-horizontal-padding: 24px;
	--mdc-tab-text-label-color-default: var(#{scheme-variables.$vvd-color-70-neutral});
	flex: initial;
}

.mdc-tab {
	font-stretch: var(--mdc-typography-subtitle1-font-stretch); // ! this was supposed to be set by MDC
}

.vvd-icon {
	--icon-size: 20px;
	color: var(--mdc-tab-text-label-color-default);
}

:host([active]) {
	.vvd-icon {
		color: var(--mdc-theme-primary);
	}
}

:host([label]:not([stacked])) {
	.leading-icon .vvd-icon {
		margin-inline-end: 12px;
	}

	.trailing-icon .vvd-icon {
		margin-inline-start: 12px;
	}
}

:host([icon]:not([label])) {
	.mdc-tab {
		min-width: auto;
	}
}

:host([disabled]) {
	--mdc-theme-primary: var(#{scheme-variables.$vvd-color-30-neutral});
	--mdc-tab-text-label-color-default: var(#{scheme-variables.$vvd-color-30-neutral});
	pointer-events: none;

	.vvd-icon {
		color: var(#{scheme-variables.$vvd-color-30-neutral});
	}
}
