@use 'vwc-icon-variables' as icon-variables;
@use '@vonage/vvd-foundation/scss/mixins/connotation' as connotation with(
	$connotations-set: primary cta announcement success alert info,
	$connotation-variable: #{icon-variables.$icon-color-variable-name},
);

@include connotation.connotation;

:host {
	color: var(#{icon-variables.$icon-color-variable-name}, currentColor);
}
