$icon-color: --vvd-icon-color;
// $icon-color-on-connotation: --vvd-icon-color-on-connotation;

@use '@vonage/vvd-foundation/scss/mixins/color-connotation' as color-connotation with (
	$connotations-set: primary cta announcement success alert info,
	$connotation-variable: #{$icon-color},
	// $on-connotation-variable: #{$icon-color-on-connotation}
);

@include color-connotation.connotations-main;

:host {
	color: var(#{$icon-color}, currentColor);
}
