@use '@vonage/vvd-design-tokens/build/scss/schemes/dark/main.scss';
@use '@vonage/vvd-design-tokens/build/scss/schemes/dark/alternate.scss';
@use 'scheme-mixins';

@include scheme-mixins.scheme-context-variables {
	@include main.variables;
}

@include scheme-mixins.scheme-alternate-variables {
	@include alternate.variables;
}
