@use '@vonage/vvd-design-tokens/build/scss/schemes/light/main.scss';
@use '@vonage/vvd-design-tokens/build/scss/schemes/light/alternate.scss';
@use 'scheme-mixins';

@include scheme-mixins.scheme-context-variables {
	@include main.variables;
}

@include scheme-mixins.scheme-alternate-variables {
	@include alternate.variables;
}
