@import '../../design-tokens/dist/web/scheme-light/colors';

:root {
  //common
  --vwc-color-background: #c1c1c1;
  --vwc-color-foreground: black;
  /////////
  --mdc-theme-primary: rgb(26, 128, 22);
  --mdc-theme-on-primary: beige;
}
