$grey-100: #f3f3f5;
$grey-300: #e1e2e6;
$grey-400: #ced0d7;
$grey-500: #c2c4cc;
$grey-800: #74767a;
$grey-900: #616266;
$red-100: #fdecec;
$red-600: #d43f3f;
$green-700: #1d7e67;
$green-900: #18504d;
$blue-700: #008AE5;
$magenta-500: #d6219c;