$namespace: --vvd-chip;
$namespace-layout: #{$namespace}--layout;
$namespace-shape: #{$namespace}--shape;
$namespace-block-size: #{$namespace}--block-size;
$namespace-icon-size: #{$namespace}__icon--size;

@use '@vonage/vwc-icon/src/partials/vwc-icon-variables' as icon-variables;
@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables' as scheme-variables;
@use '@vonage/vvd-typography/scss/typography' as typography;
@use '@vonage/vvd-foundation/scss/mixins/color-connotation' as color-connotation with (
	$connotations-set: primary cta
);

@use '@vonage/vvd-foundation/scss/mixins/shape-mixins' as shape-mixins with (
	$variable-name: #{$namespace-shape}
);
@use '@vonage/vvd-foundation/scss/mixins/layout-mixins' as layout-mixins with (
	$layouts: outlined soft,
	$variable-prefix: #{$namespace-layout}
);


@include color-connotation.connotations-shades;
@include color-connotation.connotations-shades-default(primary);
@include color-connotation.connotations-main;
@include color-connotation.connotations-main-default(primary);

@include shape-mixins.shape(
	$shapes: (
		rounded: 4px,
		pill: 14px,
	),
	$default: pill
);

@include layout-mixins.layout();
@include layout-mixins.layout-default(soft);

:host(:not([dense]):not([enlarged])) {
	@include typography.typography-cat-shorthand('body-2-bold');
	#{$namespace-block-size}: 24px;
	#{$namespace-icon-size}: 16px;
}

:host([dense]) {
	@include typography.typography-cat-shorthand('caption-bold');
	#{$namespace-block-size}: 20px;
	#{$namespace-icon-size}: 12px;
}

:host([enlarged]) {
	@include typography.typography-cat-shorthand('body-1-bold');
	#{$namespace-block-size}: 28px;
	#{$namespace-icon-size}: 20px;
}

.vwc-chip {
	display: inline-flex;
	align-items: center;
	border: var(#{$namespace-layout}--outline);
	background-color: var(#{$namespace-layout}--fill);
	border-radius: var(#{$namespace-shape});
	color: var(#{$namespace-layout}--text);
	line-height: var(#{$namespace-block-size});

	// &:active {
	// }
	:host([layout="outlined"i]) & {
		#{$namespace-layout}--outline: 1px solid var(#{scheme-variables.$vvd-color-neutral-50});
	}

	&:not(.vwc-chip--selected) {
		#{$namespace-layout}--text: var(#{scheme-variables.$vvd-color-neutral-90});

		:host(:not([layout])) &,
		:host([layout="soft"i]) & {
			#{$namespace-layout}--fill: var(#{scheme-variables.$vvd-color-neutral-20});
		}


	}

	:host(:not([dense]):not([enlarged])) & {
		padding: 0 10px;
	}
	:host([dense]) & {
		padding: 0 8px;
	}

	:host([enlarged]) & {
		padding: 0 12px;
	}
}

.icon {
	$margin: 8px;
	#{icon-variables.$icon-size-variable-name}: var(#{$namespace-icon-size});

	&.icon--leading {
		margin-inline-end: $margin;
	}
	&.icon--trailing {
		margin-inline-start: $margin;
	}
}

.vwc-chip__checkmark {
	overflow: hidden;
	block-size: var(#{$namespace-icon-size});
	inline-size: var(#{$namespace-icon-size});
	@media (prefers-reduced-motion: no-preference) {
		transition: inline-size 0.2s;
	}
	.vwc-chip:not(.vwc-chip--selected) & {
		display: none;
		inline-size: 0;
	}
}

// disable connotation if not selected
// .vwc-chip:not(.vwc-chip--selected) {
// 	:host([connotation="cta"i]) & {
// 		--vvd-color-connotation: unset;
// 		--vvd-color-on-connotation: unset;
// 	}
// }

