$namespace: --vvd-chip;
$namespace-layout: #{$namespace}-layout;
$namespace-shape: #{$namespace}-shape;

@use '@vonage/vwc-icon/src/partials/vwc-icon-variables' as icon-variables;
@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables' as scheme-variables;
@use '@vonage/vvd-typography/scss/typography' as typography;
@use '@vonage/vvd-foundation/scss/mixins/color-connotation' as color-connotation with (
	$connotations-set: primary cta
);

@use '@vonage/vvd-foundation/scss/mixins/shape-mixins' as shape-mixins with (
	$variable-name: #{$namespace-shape}
);
@use '@vonage/vvd-foundation/scss/mixins/layout-mixins' as layout-mixins with (
	$layouts: outlined soft,
	$variable-prefix: #{$namespace-layout}
);

$vvd-chip--block-size: --#{$namespace}--block-size;

@include color-connotation.connotations-shades;
@include color-connotation.connotations-shades-default(primary);
@include color-connotation.connotations-main;
@include color-connotation.connotations-main-default(primary);

@include shape-mixins.shape(
	$shapes: (
		rounded: 4px,
		pill: 14px,
	),
	$default: pill
);

@include layout-mixins.layout();
@include layout-mixins.layout-default(soft);

:host(:not([dense]):not([enlarged])) {
	@include typography.typography-cat-shorthand('body-2-bold');
	#{$vvd-chip--block-size}: 24px;
}

:host([dense]) {
	@include typography.typography-cat-shorthand('caption-bold');
	#{$vvd-chip--block-size}: 20px;
}

:host([enlarged]) {
	@include typography.typography-cat-shorthand('body-1-bold');
	#{$vvd-chip--block-size}: 28px;
}

.vwc-chip {
	display: inline-flex;
	align-items: center;
	border: var(#{$namespace-layout}--outline);
	background-color: rgb(107, 65, 65);
	border-radius: var(#{$namespace-shape});
	color: var(#{$namespace-layout}--text);
	line-height: var(#{$vvd-chip--block-size});

	&:active {
		background-color: var(#{$namespace-layout}--fill);
	}
	&.chip--selected {
		background-color: var(#{$namespace-layout}--fill);
	}

	:host(:not([dense]):not([enlarged])) & {
		padding: 0 10px;
	}
	:host([dense]) & {
		padding: 0 8px;
	}

	:host([enlarged]) & {
		padding: 0 12px;
	}
}

.icon {
	$margin: 8px;

	&.icon--leading {
		margin-inline-end: $margin;
	}
	&.icon--trailing {
		margin-inline-start: $margin;
	}

	:host(:not([dense]):not([enlarged])) & {
		#{icon-variables.$icon-size-variable-name}: 16px;
	}
	:host([dense]) & {
		#{icon-variables.$icon-size-variable-name}: 12px;
	}
	:host([enlarged]) & {
		#{icon-variables.$icon-size-variable-name}: 20px;
	}
}

// disable connotation if not selected
// .vwc-chip:not(.chip--selected) {
// 	:host([connotation="cta"i]) & {
// 		--vvd-color-connotation: unset;
// 		--vvd-color-on-connotation: unset;
// 	}
// }

