@use '@vonage/vvd-typography/scss/typography' as typography;
@use '@vonage/vvd-style-coupling/scss/vvd-formfield' as vvd-formfield;
@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables' as scheme-variables;

:host {
	@include typography.typography-cat-shorthand('caption');
	@include vvd-formfield.coupling;

	display: flex;
	align-items: center;
	color: var(#{vvd-formfield.$formfield-label-idle-ink});
	margin-block-start: 4px;

	min-block-size: 16px;

	.helper-icon {
		display: none;
		color: var(#{vvd-formfield.$formfield-label-error-ink});
	}

	.helper-text {
		overflow: hidden;
		margin-inline-start: 16px;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

:host([is-error]) {
	color: var(#{scheme-variables.$vvd-color-on-canvas});

	.helper-icon {
		display: flex;
		flex-shrink: 0;
	}

	.helper-text {
		margin-inline-start: 4px;
	}
}

:host([disabled]) {
	color: var(#{#{vvd-formfield.$formfield-disabled-ink}});
}
