@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables';
@use '@vonage/vvd-foundation/scss/mixins/connotation/config' with (
	$connotations-set: primary cta success alert,
	$default: primary,
);
@use '@vonage/vvd-foundation/scss/mixins/connotation' as connotation;


.mdc-circular-progress {
	--mdc-theme-primary: var(#{connotation.$vvd-color-connotation});
	@include connotation.connotation;
}
