@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables';
@use '@vonage/vvd-foundation/scss/mixins/connotation' as connotation with(
	$connotations-set: primary cta success alert,
	$default: primary
);


@include connotation.connotation;

:host {
	--mdc-theme-primary: var(#{connotation.$vvd-color-connotation});
}
