@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables';
@use '@vonage/vvd-foundation/scss/variable-names/color-semantic-variable-names' as color-semantic;
@use '@vonage/vvd-typography/scss/typography';
@use '@vonage/vvd-foundation/scss/mixins/color-connotation-mixins' with (
	$connotations: success alert warning info announcement
);

:host {
	padding: 20px;
	display: flex;
	align-items: stretch;
	background-color: var(#{scheme-variables.$vvd-color-base});
	color: var(#{scheme-variables.$vvd-color-on-base});
	border-inline-start: 8px solid var(#{color-semantic.$vvd-color-connotation});
	border-radius: 6px;
	box-shadow: inset 0 1px 0 0 #b3b3b3, inset -1px 0 0 0 #b3b3b3, inset 0 -1px 0 0 #b3b3b3;
	overflow: hidden;
	contain: content;
}
@include color-connotation-mixins.connotations-context(
	':host(#{color-connotation-mixins.$connotation-placeholder})'
);

.note-icon {
	margin-inline-end: 16px;
}

.note-text {
	flex: 1;
	min-height: 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.note-header {
		@include typography.typography-cat-shorthand('body-2-bold');
		margin-block-end: 4px;
	}

	.note-message {
		@include typography.typography-cat-shorthand('body-2');
	}
}