@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables';
@use '@vonage/vvd-foundation/scss/variable-names/color-semantic-variable-names' as color-semantic;

:host {
	--mdc-checkbox-ink-color: var(#{scheme-variables.$vvd-color-surface});
	--mdc-checkbox-checked-color: var(#{scheme-variables.$vvd-color-on-base});
	--mdc-checkbox-unchecked-color: var(#{scheme-variables.$vvd-color-on-base});
	--mdc-checkbox-disabled-color: var(
		#{scheme-variables.$vvd-color-contrast-soft}
	);
}

.mdc-checkbox {
	padding: 0;

	&,
	.mdc-checkbox__background,
	.mdc-checkbox__native-control {
		width: 22px;
		height: 22px;
	}

	&--touch {
		margin: 0;
	}

	.mdc-checkbox__native-control {
		left: 0;
		top: 0;
	}

	.mdc-checkbox__background {
		top: 0;
		left: 0;
		border-width: 2px;
		border-radius: 3px;
		transition-property: background-color, border-color !important;
		transition-duration: 0.2s !important;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.mdc-checkbox__checkmark {
		top: 2px;
		left: 2px;
		width: 14px;
		height: 14px;
	}

	.mdc-checkbox__mixedmark {
		width: 12px;
	}

	.mdc-checkbox__native-control:enabled {
		&:hover,
		&:focus {
			~ .mdc-checkbox__background {
				box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
			}
		}
	}

	.mdc-checkbox__native-control[disabled]:checked,
	.mdc-checkbox__native-control[disabled]:indeterminate,
	.mdc-checkbox__native-control[data-indeterminate='true'][disabled] {
		~ .mdc-checkbox__background {
			--mdc-checkbox-disabled-color: var(
				#{scheme-variables.$vvd-color-contrast-soft}
			);
		}
	}
}
