$spacing: 16px;

@use '@vonage/vvd-typography/scss/typography' as typography;
@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables' as scheme-variables;
@use '@vonage/vvd-foundation/scss/mixins/connotation/config' with (
	$connotations-set: success alert warning info announcement,
	$default: announcement,
);
@use '@vonage/vvd-foundation/scss/mixins/connotation' as connotation;

.mdc-snackbar {
	@include connotation.connotation;

	&[position^=TOP] {
		top: 0;
		bottom: initial;
	}

	&[position$=START] {
		justify-content: flex-start;
	}

	&[position$=END] {
		justify-content: flex-end;
	}
}

.mdc-snackbar__surface {
	padding-right: initial;
	background-color: var(#{scheme-variables.$vvd-color-canvas});
	border-radius: 6px;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.05), 0 12px 16px rgba(0, 0, 0, 0.05), 0 4px 24px rgba(0, 0, 0, 0.1);
}

.mdc-snackbar__label {
	@include typography.typography-cat-shorthand('body-2');
	padding: 22px $spacing;
	color: var(#{scheme-variables.$vvd-color-on-canvas});
	-webkit-font-smoothing: initial;
	-moz-osx-font-smoothing: initial;
}

.icon {
	margin-block-end: auto;
	margin-block-start: 16px;
	margin-inline-start: $spacing;
	.vwc-snackbar-legacy & {
		#{connotation.$vvd-color-connotation}: initial;
		color: var(#{scheme-variables.$vvd-color-on-canvas});
	}
}

.dismiss-container {
	display: flex;
	align-items: center;
	align-self: stretch;
	margin-inline-end: $spacing;

	&::before {
		align-self: stretch;
		border-left: 1px solid var(#{scheme-variables.$vvd-color-neutral-30});
		content: '';
		margin-inline-end: $spacing;
	}
}

::slotted([slot='action']) {
	.vwc-snackbar-legacy & {
		margin-block-start: $spacing;
	}
}

::slotted([slot='action']:last-child) {
	:not(.vwc-snackbar-legacy) & {
		margin-inline-end: $spacing;
	}
}

// TODO depreacte on the 1st chance
.vwc-snackbar-legacy {
	.mdc-snackbar__surface {
		padding-inline-start: 8px;
		&::before {
			border: 1px solid var(#{scheme-variables.$vvd-color-neutral-40});
			border-inline-start: 8px solid var(#{connotation.$vvd-color-connotation});
		}
	}
}

.header-and-label {
	padding: 18px $spacing;

	> .heading {
		@include typography.typography-cat-shorthand('body-1-bold');
		color: var(#{scheme-variables.$vvd-color-on-canvas});
		margin-block-end: 4px;
		margin-block-start: 0;
	}
	> .mdc-snackbar__label {
		padding: 0;
	}
}

.vwc-snackbar-legacy .header-and-label {
	> .heading {
		@include typography.typography-cat-shorthand('body-2-bold');
	}
}

.vwc-snackbar-legacy  .mdc-snackbar__actions {
	align-items: baseline;
	margin-block-end: auto;
	margin-block-start: 20px;
	.dismiss-container::before {
		content: initial;
	}
}
