<!DOCTYPE html>
<meta charset="utf-8" />
<html lang="en">
	<head>
		<title>Vivid - injectable isolated document as testing playground</title>
		<script type="module">
			import '@vonage/vwc-textfield';
			import '@vonage/vwc-icon';
			import '@vonage/vwc-menu';
			import '@vonage/vwc-list/vwc-list-item';
		</script>
	</head>

	<body>
		<div style="position: relative">
			<vwc-textfield
				outlined
				list="browsers"
				label="Choose browser"
			></vwc-textfield>
			<vwc-menu id="browsers">
				<vwc-list-item value="edge">Edge</vwc-list-item>
				<vwc-list-item value="firefox">Firefox</vwc-list-item>
				<vwc-list-item value="chrome">Chrome</vwc-list-item>
				<vwc-list-item value="opera">Opera</vwc-list-item>
				<vwc-list-item value="safari">Safari</vwc-list-item>
			</vwc-menu>
		</div>
	</body>
</html>
