@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables' as scheme-variables;
@use '@vonage/vvd-foundation/scss/variable-names/font-variable-names' as font-var-names;
@use '@vonage/vvd-foundation/scss/mixins/color-connotation' as color-connotation with (
	$connotations-set: success info alert announcement warning
);
@use '@vonage/vvd-typography/scss/typography';

@include color-connotation.connotations-main;
@include color-connotation.connotations-main-default(info);

$gutter: 10px;

[role='alert'] {
	margin-block-end: 0;
	margin-block-start: 0;
	text-align: center;
	:host(:not([dismissible])) & {
		margin-inline-end: auto;
	}
}

.decorative-icon {
	margin: 0 0 0 auto;
	+ [role='alert'] {
		margin-inline-start: $gutter;
	}
}

vwc-icon-button {
	--vvd-icon-button-color: inherit;
	margin-inline-start: auto;
}

$vvd-banner-header-animation-name: --vvd-banner-header-animation-name;

@media screen and (prefers-reduced-motion: reduce) {
	.alert {
		@include typography.typography-cat-shorthand('body-2-bold');
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 16px;
		animation: none;
		background-color: var(#{color-connotation.$vvd-color-connotation});
		color: var(#{color-connotation.$vvd-color-on-connotation});

		@media (prefers-reduced-motion: no-preference) {
			:host([open]) & {
				#{$vvd-banner-header-animation-name}: open;
			}

			:host(:not([open])) & {
				#{$vvd-banner-header-animation-name}: close;
			}
		}
	}
}

.alert {
	@include typography.typography-cat-shorthand('body-2-bold');
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 16px;
	animation: var(#{$vvd-banner-header-animation-name}) 0.5s forwards;
	background-color: var(#{color-connotation.$vvd-color-connotation});
	color: var(#{color-connotation.$vvd-color-on-connotation});

	@media (prefers-reduced-motion: no-preference) {
		:host([open]) & {
			#{$vvd-banner-header-animation-name}: open;
		}

		:host(:not([open])) & {
			#{$vvd-banner-header-animation-name}: close;
		}
	}
}

@keyframes open {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
}

@keyframes close {
	to {
		opacity: 0;
		transform: translateY(-20px);
	}
}
