@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables' as scheme-variables;
@use '@vonage/vvd-foundation/scss/variable-names/font-variable-names' as font-var-names;
@use '@vonage/vvd-typography/scss/typography';
@use './vwc-banner-variables.scss' as banner-variables;

@use '@vonage/vvd-foundation/scss/mixins/connotation/config' with (
	$connotations-set: success info alert announcement warning,
	$default: info,
	$scope: banner
);
@use '@vonage/vvd-foundation/scss/mixins/connotation' as connotation;


:host {
	/* stylelint-disable */
	> .banner {
		/* stylelint-enable */
		@include connotation.connotation;
		overflow: hidden;
		max-height: 0;
		transition: max-height var(#{banner-variables.$banner-transition-delay}, 200ms);

		> .header {
			@include typography.typography-cat-shorthand('body-2-bold');
			display: flex;
			min-height: 60px;
			align-items: center;
			justify-content: flex-start;
			background-color: var(#{connotation.$vvd-color-connotation});
			color: var(#{connotation.$vvd-color-on-connotation});

			> .user-content {
				display: flex;
				flex: 1 0;
				align-items: center;
				justify-content: center;
				padding-inline: 16px;

				> .icon {
					--icon-size: var(#{banner-variables.$banner-icon-size}, 20px);
					flex: 0 0 auto;
					padding-inline-end: 15px;
				}

				> .action-items {
					display: inline-block;
					flex: 0 0 auto;
					padding-inline-start: 15px;
				}

				> .message {
					padding: 20px 0;
				}
			}

			> .dismiss-button {
				--vvd-icon-button-color: inherit;
				flex: 0 0 auto;
				padding-inline-end: 8px;
			}
		}
	}
}

:host([open]) {
	> .banner {
		max-height: 10rem;
	}
}
