@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables';
@use '@vonage/vvd-foundation/scss/variable-names/color-semantic-variable-names' as color-semantic;
@use '@vonage/vvd-foundation/scss/mixins/shape-mixins' with (
	$variable-name: --vvd-icon-button-shape
);
@use '@vonage/vvd-foundation/scss/mixins/color-connotation-mixins' with (
	$connotations: primary cta success alert info announcement
);
@use '@vonage/vvd-foundation/scss/mixins/layout-mixins' with (
	$layouts: filled outlined ghost
);

:host {
	// sizing
	--mdc-icon-button-size: 40px;

	.mdc-icon-button {
		display: inline-flex;
		overflow: hidden;
		align-items: center;
		justify-content: center;
		border: var(--border);
		background-color: var(--background-color);
		border-radius: var(--vvd-icon-button-shape);
		color: var(--color);
		&:disabled {
			color: var(#{color-semantic.$formfield-disabled-ink});
		}
	}

	.vvd-icon {
		--icon-size: 20px;
	}
}

// theming
@include color-connotation-mixins.connotations-context(
	':host([layout="filled"]#{color-connotation-mixins.$connotation-placeholder}),:host([layout="outlined"]#{color-connotation-mixins.$connotation-placeholder})'
);

:host([layout='filled']) {
	.mdc-icon-button:disabled {
		background-color: var(#{scheme-variables.$vvd-color-contrast-soft});
	}
}

:host([layout='outlined']) {
	.mdc-icon-button:disabled {
		border-color: var(#{color-semantic.$formfield-disabled-ink});
	}
}

:host([dense]) {
	--mdc-icon-button-size: 32px;

	.vvd-icon {
		--icon-size: 16px;
	}
}

:host([enlarged]) {
	--mdc-icon-button-size: 48px;

	.vvd-icon {
		--icon-size: 24px;
	}
}

@include shape-mixins.shape(
	$shapes: (
		rounded: 6px,
		circled: 50%,
	)
);

@include layout-mixins.layout();
