@use 'sass:map';
@use 'partials/vwc-icon-button-variables' as icon-button-variables;
@use '@vonage/vwc-icon/src/partials/vwc-icon-variables' as icon-variables;
@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables' as scheme-variables;
@use '@vonage/vvd-style-coupling/scss/vvd-formfield' as vvd-formfield;
@use '@vonage/vvd-foundation/scss/mixins/shape-mixins' as shape-mixins with (
	$variable-name: #{icon-button-variables.$icon-button-shape}
);
@use '@vonage/vvd-foundation/scss/mixins/connotation' as connotation with(
	$connotations-set: primary cta success alert info announcement,
	$default: primary
);
@use '@vonage/vvd-foundation/scss/mixins/layout/config' with (
	$layout-set: filled outlined ghost,
	$default: ghost,
	$scope: vwc-icon-badge
);
@use '@vonage/vvd-foundation/scss/mixins/layout' as layout;

@include shape-mixins.shape(
	$shapes: (
		rounded: 6px,
		circled: 50%,
	)
);

@include connotation.connotation;

$block-sizes: (
	'dense': 32px,
	'normal': 40px,
	'enlarged': 48px
);

.mdc-icon-button {
	@include layout.layout;
	:host & {
		// sizing
		--mdc-icon-button-size: var(#{icon-button-variables.$icon-button-block-size}, #{map.get($block-sizes, 'normal')});
		@include vvd-formfield.coupling;

		.mdc-icon-button {
			display: inline-flex;
			overflow: hidden;
			align-items: center;
			justify-content: center;
			border: var(#{layout.$vvd-layout-color-outline});
			background-color: var(#{layout.$vvd-layout-color-fill});
			border-radius: var(#{icon-button-variables.$icon-button-shape});
			color: var(#{layout.$vvd-layout-color-text});
			font-size: inherit;
			&:disabled {
				color: var(#{vvd-formfield.$formfield-disabled-ink});
			}
		}
	}
}

:host([layout="filled"i]) {
	.mdc-icon-button:disabled {
		background-color: var(#{scheme-variables.$vvd-color-neutral-30});
	}
}

:host([layout="outlined"i]) {
	.mdc-icon-button:disabled {
		border-color: var(#{vvd-formfield.$formfield-disabled-ink});
	}
}

:host([dense]) {
	--mdc-icon-button-size: var(#{icon-button-variables.$icon-button-block-size}, #{map.get($block-sizes, 'dense')});
}

:host([enlarged]) {
	--mdc-icon-button-size: var(#{icon-button-variables.$icon-button-block-size}, #{map.get($block-sizes, 'enlarged')});
}

vwc-icon {
	:host & {
		#{icon-variables.$icon-size-variable-name}: var(#{icon-button-variables.$icon-button-icon-size-variable-name}, 20px);
	}
	:host([dense]) & {
		#{icon-variables.$icon-size-variable-name}: var(#{icon-button-variables.$icon-button-icon-size-variable-name}, 16px);
	}
	:host([enlarged]) & {
		#{icon-variables.$icon-size-variable-name}: var(#{icon-button-variables.$icon-button-icon-size-variable-name}, 24px);
	}
}

