:root {
  --vvd-font-family-spezia: 'SpeziaWebVariable';
}

@font-face {
	font-family: 'SpeziaWebVariable';
	src:  url('variable/Spezia_Web_Complete_Upright.woff2') format('woff2-variations');
	font-style: normal;
	font-weight: 1 1000;
	font-stretch: 50% 200%;
}