.dropdown-content {
	padding: 24px;
}

.section {
	display: flex;
}

.section.body {
	display: block;
	width: calc(100% + 48px);
	margin-inline-start: -24px;
}

// actions
.section.actions {
	display: flex;
	justify-content: flex-end;

	::slotted(vwc-button) {
		margin-inline-start: 8px;
	}
}
