name: Prepare Vivid for release

on:
  push:
    tags:
      - release

jobs:
  prepare-verify:
    runs-on: ubuntu-latest
    env:
      ARTIFACTORY_AUTH_TOKEN: ${{ secrets.ARTIFACTORY_AUTH_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: master
          token: ${{ secrets.CI_AT }}

      - name: Delete temporary trigger tag
        run: git push origin --delete release

      - name: Use Node.js 14
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Install yarn
        run: npm install -g yarn

      - name: Install dependencies
        run: yarn install

      # Update to a new version
      - name: Extract release version manually set
        run: echo "RELEASE_VERSION=$(echo ${GITHUB_REF##*/release-})" >> $GITHUB_ENV
      - name: Obtain release version if not manually set
        if: ${{ env.RELEASE_VERSION }} == ''
        run: echo "RELEASE_VERSION=$(node ./scripts/suggest-bump.mjs)" >> $GITHUB_ENV

      - name: Bump version to ${{ env.RELEASE_VERSION }}
        run: |
          yarn lerna version ${{ env.RELEASE_VERSION }} --force-publish --no-private --no-git-tag-version --no-push --yes
          yarn changelog

      # Build & Test with new version
      - name: Build components
        run: yarn compile

      - name: Lint sources
        run: yarn lint

      - name: Test components
        run: yarn test:prepublish

      # Push updated/created content to remote and Tag version
      - name: Push changes
        run: |
          git fetch
          git config user.email "vivid.ci@vonage.com"
          git config user.name "Vivid CI"
          git add --all
          git commit -m "update versions to ${{ env.RELEASE_VERSION }}"
          git push

      - name: Tag release
        run: |
          git tag -a v${{ env.RELEASE_VERSION }} -m "tag release v${{ env.RELEASE_VERSION }}"
          git push --follow-tags
