@use 'sass:selector';
@use '@vonage/vvd-design-tokens/build/scss/semantic-variables/scheme-variables';
@use '@vonage/vvd-foundation/scss/variable-names/color-semantic-variable-names';
@use '@vonage/vvd-foundation/scss/mixins/color-connotation-mixins' with (
	$connotations: primary cta success alert
);

// sizing parts only
:host {
	// colors/shadowing
	--mdc-theme-secondary: var(
		#{color-semantic-variable-names.$vvd-color-connotation}
	);

	--vvd-switch-unchecked-background: var(
		#{scheme-variables.$vvd-color-neutral}
	);
	--vvd-switch-unchecked-background-hover: var(
		#{scheme-variables.$vvd-color-neutral}
	);
	--vvd-switch-unchecked-background-focus: var(
		#{scheme-variables.$vvd-color-neutral}
	);

	--vvd-switch-disabled-background: var(
		#{scheme-variables.$vvd-color-30-neutral}
	);
	--vvd-switch-shadow-focus: 0, 0, 0, 0.5;

	--mdc-theme-surface: var(
		#{scheme-variables.$vvd-color-10-neutral}
	); // unchecked thumb
	--mdc-theme-on-surface: var(
		--vvd-switch-unchecked-background
	); // unchecked track

	border-radius: 16px;

	.mdc-switch,
	.mdc-switch__native-control {
		width: 30px;
		height: 20px;
	}

	.mdc-switch__track {
		width: 100%;
		height: 100%;
		border-width: 0;
		border-radius: 16px;
	}

	.mdc-switch__thumb-underlay {
		top: 0;
		left: 0;
		width: 20px;
		height: 100%;

		.mdc-switch__thumb {
			width: 16px;
			height: 16px;
			border: 0 none;
		}
	}

	.mdc-switch--checked {
		.mdc-switch__thumb-underlay {
			transform: translateX(10px);
		}

		.mdc-switch__native-control {
			transform: translateX(-10px);
		}
	}

	.mdc-switch {
		.mdc-switch__thumb {
			box-shadow: none;
		}

		&.mdc-switch--checked .mdc-switch__thumb {
			background-color: var(#{scheme-variables.$vvd-color-10-neutral});
		}

		&:hover .mdc-switch__thumb {
			opacity: 0.8;
		}

		.mdc-switch__track,
		&.mdc-switch--checked .mdc-switch__track {
			opacity: initial;
		}

		&:not(.mdc-switch--checked):hover .mdc-switch__track {
			background-color: var(--vvd-switch-unchecked-background-hover);
		}

		&.mdc-switch--disabled {
			opacity: initial;

			.mdc-switch__track {
				background-color: var(--vvd-switch-disabled-background);
				opacity: initial;
			}
		}
	}
}

:host([enlarged]) {
	.mdc-switch,
	.mdc-switch__native-control {
		width: 50px;
		height: 32px;
	}

	.mdc-switch__thumb-underlay {
		width: 32px;

		.mdc-switch__thumb {
			width: 24px;
			height: 24px;
		}
	}

	.mdc-switch--checked {
		.mdc-switch__thumb-underlay {
			transform: translateX(18px);
		}

		.mdc-switch__native-control {
			transform: translateX(-18px);
		}
	}
}

@include color-connotation-mixins.connotations-context(
	':host(#{color-connotation-mixins.$connotation-placeholder})'
);

:host(:not([disabled]):focus-within) {
	.mdc-switch__track {
		box-shadow: 0 0 2px 1px rgba(var(--vvd-switch-shadow-focus));
	}

	.mdc-switch:not(.mdc-switch--checked) {
		.mdc-switch__track {
			background-color: var(--vvd-switch-unchecked-background-focus);
		}

		&:hover .mdc-switch__track {
			background-color: var(--vvd-switch-unchecked-background-hover);
		}
	}
}
